<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Payment Form</title>
    <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css'>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>

<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

<!-- scripts -->
<div class="wrapper" style="height:100%">
    <div id="particles-js">
        <div class="container">
            <div id="Checkout" class="inline">
                <h1>SecurePay Gateway</h1>

                <div class="card-row">
                    <span class="visa">
                        <% if (data.card_issue != "VISA") { %>
                        <div class="disable_layer"></div>
                        <% } %>
                    </span>
                    <span class="mastercard">
                        <% if (data.card_issue != "MASTER") { %>
                        <div class="disable_layer"></div>
                        <% } %>
                    </span>
                    <span class="amex">
                        <% if (data.card_issue != "AMEX") { %>
                        <div class="disable_layer"></div>
                        <% } %>
                    </span>
                    <span class="discover">
                        <% if (data.card_issue != "DISCOVER") { %>
                        <div class="disable_layer"></div>
                        <% } %>
                    </span>
                </div>
                <form id="CheckoutFORM">
                    <div class="form-group">
                        <label>Payment amount</label>

                        <div class="amount-placeholder">
                            <span><i class="fa fa-rupee"></i></span>
                            <span><%= data.amount %></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <input name="amount" type="hidden" value="<%= data.amount %>"/>
                        <input name="uid" type="hidden" value="<%= data.uid %>"/>
                        <label for="NameOnCard">Name on card</label>
                        <input id="NameOnCard" name="name" value="<%= data.name %>" class="form-control" type="text"
                               maxlength="255"/>
                    </div>
                    <div class="form-group">
                        <label for="CreditCardNumber">Card number</label>
                        <input id="CreditCardNumber" name="credi_no" value="<%= data.card_no %>"
                               class="null card-image form-control" type="text"/>
                    </div>
                    <div class="expiry-date-group form-group">
                        <label for="ExpiryDate">Expiry date</label>
                        <input id="ExpiryDate" name="card_issue" value="<%= data.expiry %>" class="form-control"
                               type="text" placeholder="MM / YY" maxlength="7"/>
                    </div>
                    <div class="security-code-group form-group">
                        <label for="SecurityCode">Security code</label>

                        <div class="input-container">
                            <input name="sec_code" id="SecurityCode" class="form-control" type="text">
                            <i id="cvc" class="fa fa-question-circle"></i>
                        </div>
                        <div class="cvc-preview-container two-card hide">
                            <div class="amex-cvc-preview"></div>
                            <div class="visa-mc-dis-cvc-preview"></div>
                        </div>
                    </div>
                    <div class="zip-code-group form-group">
                        <label for="Password">Password</label>

                        <div class="input-container">
                            <input name="password" id="Password" class="form-control" type="password" maxlength="10">
                            <a tabindex="0" role="button" data-toggle="popover" data-trigger="focus"
                               data-placement="left"
                               data-content="Enter the ZIP/Postal code for your credit card billing address."><i
                                        class="fa fa-question-circle"></i></a>
                        </div>
                    </div>
                    <button id="PayButton" class="btn btn-block btn-success submit-button" type="submit">
                        <span class="submit-button-lock"></span>
                        <span class="align-middle">Pay <i class="fa fa-inr"></i> <%= data.amount %></span>
                    </button>
                </form>
            </div>
        </div>
    </div>

</div>
<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js'></script>
<script src="js/index.js"></script>
<script src="js/particles.min.js"></script>
<script src="js/app.js"></script>
<script type="text/javascript">
    $.fn.serializeObject = function () {
        var o = {};
        var a = this.serializeArray();
        $.each(a, function () {
            if (o[this.name] !== undefined) {
                if (!o[this.name].push) {
                    o[this.name] = [o[this.name]];
                }
                o[this.name].push(this.value || '');
            } else {
                o[this.name] = this.value || '';
            }
        });
        return o;
    };
    $("#CheckoutFORM").submit(function (event) {
        params = $("#CheckoutFORM").serializeObject();
        params.key ="<%= data.key %>"
        params = JSON.stringify(params)

        $.ajax({
            type: 'POST',
            contentType: "application/json",
            url: '/payprocess/',
            processData: false,
            data: params, // or JSON.stringify ({name: 'jonas'}),
            success: function (data) {
                $("#CheckoutFORM").replaceWith('<div class="text-center"><i class="fa fa-5x fa-check-circle text-success text-center"></i></div>');
                	if(Middelware){
                		console.log(Object.getOwnPropertyNames(Middelware))
                		 Middelware.InterProcess(true); 
                	}
            },
            dataType: "json"

        });
        event.preventDefault();
    });

</script>

</body>
</html>
