<div class="box bg-white">
  <div class="navbar md-whiteframe-z1 no-radius" ng-class="$state.current.data.theme ? $state.current.data.theme.primary : app.setting.theme.primary">
      <!-- brand -->
      <a class="navbar-brand">
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 500 500" style="enable-background:new 0 0 500 500;" xml:space="preserve">
<style type="text/css">
	.st0{fill:#CFCECE;}
    .st1{fill:none;}
    .st2{fill:#E5E5E5;}
</style>
<g id="XMLID_9_">
	<g id="XMLID_7_">
		<g id="XMLID_5_">
			<polygon id="XMLID_3_" class="st0" points="482.3,237.5 277.6,322.2 110.6,198.2 17.6,195.6 136.1,152.7 341.2,237.4 			"/>
			<line id="XMLID_4_" class="st1" x1="355" y1="210.3" x2="291.4" y2="295.2"/>
			<polygon id="XMLID_6_" class="st2" points="482.4,237.8 277.7,322.5 341.3,237.6 447,237.6 			"/>
		</g>
		<line id="XMLID_1_" class="st1" x1="118.9" y1="148" x2="118.9" y2="184.2"/>
	</g>
	<polygon id="XMLID_8_" class="st2" points="110.6,198.2 18,195.5 108.1,162.9 108.1,162.9 	"/>
</g>
</svg>

        <img ng-src="profile/{{LogUser.profilepic}}" alt="." style="max-height: 36px; display:none">
        <span class="hidden-folded m-l inline">{{app.name}}</span>
      </a>
      <!-- / brand -->
  </div>
  <div class="box-row">
    <div class="box-cell scrollable hover">
      <div class="box-inner">
        <div class="p hidden-folded" ng-class="$state.current.data.theme ? $state.current.data.theme.primary+'-50' : app.setting.theme.primary+'-50'" style="background-image:url(images/bg.png); background-size:cover">
          <div class="rounded w-64 bg-white inline pos-rlt">
            <img src="images/a0.jpg" class="img-responsive rounded">
          </div>
          <a class="block m-t-sm" ui-toggle-class="hide, show" target="#nav, #account">
            <span class="block font-bold">John Smith</span>
            <span class="pull-right auto">
              <i class="fa inline fa-caret-down"></i>
              <i class="fa none fa-caret-up"></i>
            </span>
            john.smith@gmail.com
          </a>
        </div>
        <div id="nav" ng-include="'views/partials/aside.nav.uikit.html'"></div>
        <div id="account" class="hide m-v-xs">
          <nav>
            <ul class="nav">
              <li>
                <a md-ink-ripple ui-sref="page.profile">
                  <i class="icon mdi-action-perm-contact-cal i-20"></i>
                  <span>My Profile</span>
                </a>
              </li>
              <li>
                <a md-ink-ripple ui-sref="page.settings">
                  <i class="icon mdi-action-settings i-20"></i>
                  <span>Settings</span>
                </a>
              </li>
              <li>
                <a md-ink-ripple ui-sref="access.lockme">
                  <i class="icon mdi-action-exit-to-app i-20"></i>
                  <span>Logout</span>
                </a>
              </li>
              <li class="m-v-sm b-b b"></li>
              <li>
                <a md-ink-ripple ui-fullscreen>
                  <i class="icon mdi-navigation-fullscreen i-24"></i>
                  <span>Fullscreen</span>
                </a>
              </li>
              <li>
                <div class="nav-item">
                  <label class="md-check">
                    <input type="checkbox" ng-model="app.setting.asideFolded">
                    <i class="{{app.setting.theme.accent}} no-icon"></i>
                    <span class="hidden-folded">Folded aside</span>
                  </label>
                </div>
              </li>
              <li class="p p-v-sm hidden-folded">
                <div class="m-b-sm">Theming:</div>
                <div>
                  <div class="pointer box pull-left m-r-sm m-b-sm" style="width:32px;height:16px" ng-click="app.setting.theme = {primary: 'indigo', accent: 'green', warn: 'amber'}">
                    <span class="indigo col-xs-4 box-col"></span>
                    <span class="green col-xs-4 box-col"></span>
                    <span class="amber col-xs-4 box-col"></span>
                  </div>
                  <div class="pointer box pull-left m-r-sm m-b-sm" style="width:32px;height:16px" ng-click="app.setting.theme = {primary: 'green', accent: 'light-green', warn: 'lime'}">
                    <span class="green col-xs-4 box-col"></span>
                    <span class="light-green col-xs-4 box-col"></span>
                    <span class="lime col-xs-4 box-col"></span>
                  </div>
                  <div class="pointer box pull-left m-r-sm m-b-sm" style="width:32px;height:16px" ng-click="app.setting.theme = {primary: 'deep-purple', accent: 'blue', warn: 'light-blue'}">
                    <span class="deep-purple col-xs-4 box-col"></span>
                    <span class="blue col-xs-4 box-col"></span>
                    <span class="light-blue col-xs-4 box-col"></span>
                  </div>
                  <div class="pointer box pull-left m-r-sm m-b-sm" style="width:32px;height:16px" ng-click="app.setting.theme = {primary: 'blue', accent: 'indigo', warn: 'amber'}">
                    <span class="blue col-xs-4 box-col"></span>
                    <span class="indigo col-xs-4 box-col"></span>
                    <span class="amber col-xs-4 box-col"></span>
                  </div>
                  <div class="pointer box pull-left m-r-sm m-b-sm" style="width:32px;height:16px" ng-click="app.setting.theme = {primary: 'cyan', accent: 'teal', warn: 'green'}">
                    <span class="cyan col-xs-4 box-col"></span>
                    <span class="teal col-xs-4 box-col"></span>
                    <span class="green col-xs-4 box-col"></span>
                  </div>
                  <div class="pointer box pull-left m-r-sm m-b-sm" style="width:32px;height:16px" ng-click="app.setting.theme = {primary: 'pink', accent: 'deep-purple', warn: 'purple'}">
                    <span class="pink col-xs-4 box-col"></span>
                    <span class="deep-purple col-xs-4 box-col"></span>
                    <span class="purple col-xs-4 box-col"></span>
                  </div>
                  <div class="pointer box pull-left m-r-sm m-b-sm" style="width:32px;height:16px" ng-click="app.setting.theme = {primary: 'blue-grey', accent: 'teal-200', warn: 'lime'}">
                    <span class="blue-grey col-xs-4 box-col"></span>
                    <span class="teal-200 col-xs-4 box-col"></span>
                    <span class="lime col-xs-4 box-col"></span>
                  </div>
                  <div class="pointer box pull-left m-r-sm m-b-sm" style="width:32px;height:16px" ng-click="app.setting.theme = {primary: 'bg-dark', accent: 'green-300', warn: 'amber-300'}">
                    <span class="bg-dark col-xs-4 box-col"></span>
                    <span class="green-300 col-xs-4 box-col"></span>
                    <span class="amber-300 col-xs-4 box-col"></span>
                  </div>
                  <div class="pointer box pull-left m-r-sm m-b-sm" style="width:32px;height:16px" ng-click="app.setting.theme = {primary: 'bg-white', accent: 'green', warn: 'teal'}">
                    <span class="bg-white col-xs-4 box-col"></span>
                    <span class="green col-xs-4 box-col"></span>
                    <span class="teal col-xs-4 box-col"></span>
                  </div>
                </div>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <nav>
    <ul class="nav b-t b">
      <li>
        <a href= """ target="_blank" md-ink-ripple>
          <i class="icon mdi-action-help i-20"></i>
          <span>Help &amp; Feedback</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
