<div class="box">
    <!-- Content Navbar -->
    <div class="navbar md-whiteframe-z1 no-radius" ng-class="$state.current.data.theme ? $state.current.data.theme.primary : app.setting.theme.primary">
        <!-- Open side - Naviation on mobile -->
        <a md-ink-ripple ng-click="openAside()" ng-hide="$state.current.data.child" class="navbar-item pull-left visible-xs visible-sm"><i class="mdi-navigation-menu i-24"></i></a>
        <!-- / -->
        <!-- GoBack - Back to parent if $state has the param 'child' -->
        <a md-ink-ripple class="navbar-item pull-left" ng-click="goBack()" ng-show="$state.current.data.child" ><i class="mdi-navigation-arrow-back i-24"></i></a>
        <!-- / -->
        <!-- Page title - Bind to $state's title -->
        <div class="navbar-item pull-left h4" ng-bind="$state.current.data.title"></div>
        <!-- / -->
        <!-- Common tools -->
        <ul class="nav nav-sm navbar-tool pull-right" ng-hide="$state.current.data.child">
            <li>
                <a md-ink-ripple>
                    <div class="font-bold" style="color:{{app.setting.theme.warn}} "><i class="fa fa-rupee"></i>  {{LogUser.Balance.toLocaleString()}}</div>
                </a>
            </li>
            <li>
                <a md-ink-ripple ng-click="app.search.show = true">
                    <i class="mdi-action-search i-24"></i>
                </a>
            </li>
            <li>
                <a md-ink-ripple data-toggle="modal" ng-click="changeNotfy()" id="notifyIcon"data-target="#user">
                    <i class="mdi-social-notifications-none i-24"></i>
                </a>
            </li>
            <li class="dropdown">
                <a md-ink-ripple data-toggle="dropdown">
                    <i class="mdi-navigation-more-vert i-24"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-scale pull-right pull-up text-color">

                    <li><a href>Log out</a></li>
                    <li><a href>About Paygram Project</a></li>


                    <li class="divider"></li>
                </ul>
            </li>
        </ul>
        <div class="pull-right" ui-view="navbar@"></div>
        <!-- / -->
        <!-- Search form -->
        <div id="search" class="pos-abt w-full h-full" ng-show="app.search.show" ng-class="$state.current.data.theme ? $state.current.data.theme.primary : app.setting.theme.primary">
            <div class="box">
                <div class="box-col w-56 text-center">
                    <!-- hide search form -->
                    <a md-ink-ripple class="navbar-item inline" ng-click="app.search.show=false; app.search.content=''"><i class="mdi-navigation-arrow-back i-24"></i></a>
                </div>
                <div class="box-col v-m">
                    <!-- bind to app.search.content -->
                    <input class="form-control input-lg no-bg no-border" placeholder="Search" ng-model="app.search.content">
                </div>
                <div class="box-col w-56 text-center">
                    <a md-ink-ripple class="navbar-item inline"><i class="mdi-av-mic i-24"></i></a>
                </div>
            </div>
        </div>
        <!-- / -->
    </div>
    <!-- Content -->
    <div class="box-row">
        <div class="box-cell">
            <div class="box-inner" ui-view id="view">
            </div>
        </div>
    </div>
    <!-- / -->
</div>
