<div class="row" style="background: #34495e;">

    <div class="center-block">
        <div class="center">
            <h4 class="m-b-lg text-thin text-white">Power Up Payment With Paygram's REST API</h4>

            <div class="server-container">
                <div class="top"></div>
                <div class="server-body online">
                    <div class="drives">
                        <div class="disk">&nbsp;</div>
                        <div class="disk">&nbsp;</div>
                        <div class="disk">&nbsp;</div>
                        <div class="disk">&nbsp;</div>
                    </div>
                    <div class="display">
                        <span class="text">ST0:</span>
                    </div>
    <span class="light-wrapper">
      <span class="light-single up blinker">&nbsp;</span>
      <span class="light-single down blinker2">&nbsp;</span>
    </span>
                </div>
            </div>
            <div class="server-container">
                <div class="top"></div>
                <div class="server-body online">
                    <div class="drives">
                        <div class="disk">&nbsp;</div>
                        <div class="disk">&nbsp;</div>
                        <div class="disk">&nbsp;</div>
                        <div class="disk">&nbsp;</div>
                    </div>
                    <div class="display">
                        <span class="text">ST1: </span>
                    </div>
    <span class="light-wrapper">
      <span class="light-single up blinker3">&nbsp;</span>
      <span class="light-single down blinker4">&nbsp;</span>
    </span>

                </div>
            </div>
            <div class="server-container">
                <div class="top"></div>
                <div class="server-body offline">
                    <div class="drives">
                        <div class="disk">&nbsp;</div>
                        <div class="disk">&nbsp;</div>
                        <div class="disk">&nbsp;</div>
                        <div class="disk">&nbsp;</div>
                    </div>
                    <div class="display">
                        <span class="text">ST2: </span>
                    </div>
    <span class="light-wrapper">
      <span class="light-single up">&nbsp;</span>
      <span class="light-single down">&nbsp;</span>
    </span>
                </div>
            </div>
        </div>


    </div>

</div>


<div class="row padding no-margin">
    <div class="row no-margin">
        <div class="col-md-3">
            <div class="card p m-b-lg">
                <ul class="nav nav-pills nav-stacked" ui-nav="">
                    <li class="active">
                        <a href="">
                            Api Keys
                        </a>
                    </li>

                    <li class="">
                        <a href="" class="auto">
              <span class="pull-right text-muted m-r-xs">
                <i class="fa fa-plus inline"></i>
                <i class="fa fa-minus none"></i>
              </span>
                            REST api Docs
                        </a>
                        <ul class="nav nav-sub nav-sm">
                            <li>
                                <a  href="" onclick="window.location.hash=window.baseloc+'#basic'"><span class="fa fa-angle-right fa-fw text-muted"></span> Basic Setup</a>
                            </li>
                            <li>
                                <a onclick="window.location.hash=window.baseloc+'#generate'" href=""><span class="fa fa-angle-right fa-fw text-muted"></span> Generating
                                    Tokens</a>
                            </li>
                            <li>
                                <a  onclick="window.location.hash=window.baseloc+'#status'" href=""><span class="fa fa-angle-right fa-fw text-muted"></span> Retrieving
                                    Status</a>
                            </li>
                            <li>
                                <a onclick="window.location.hash=window.baseloc+'#list'" href=""><span class="fa fa-angle-right fa-fw text-muted"></span> Listing all
                                    tokens</a>
                            </li>
                            <li>
                                <a onclick="window.location.hash=window.baseloc+'#delete'" href=""><span class="fa fa-angle-right fa-fw text-muted"></span> Delete token
                                     </a>
                            </li>
                        </ul>
                    </li>

                </ul>
            </div>
        </div>
        <div class="col-md-9 ">
            <div class="card">
                <div class="card-heading">
                    <h2 class="font-thin">Your API Key</h2>
                    <small>API key function like a combined name and password for authentication.</small>

                </div>

                <div class="card-tools">
                    <ul class="list-inline">
                        <li class="dropdown">
                            <a md-ink-ripple="" data-toggle="dropdown" class="md-btn md-flat md-btn-circle"
                               aria-expanded="false">
                                <i class="mdi-navigation-more-vert text-md"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-scale pull-right pull-up top text-color">
                                <li><a href="">Delete Key</a></li>
                                <li><a href="">Another action</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="card-divider" ng-if="progress">
                    <md-progress-linear md-mode="indeterminate" class="m-b md-default-theme" aria-valuemin="0"
                                        aria-valuemax="100" role="progressbar">
                        <div class="md-container md-ready">
                            <div class="md-dashed"></div>
                            <div class="md-bar md-bar1"></div>
                            <div class="md-bar md-bar2"></div>
                        </div>
                    </md-progress-linear>
                </div>
                <div class="card-body">
                    <form id="todo-form" class="panel panel-card p-sm ">
                        <input placeholder="" ng-model="api.Key" autofocus=""
                               class="form-control input-lg no-border no-bg ApiKeyField" tabindex="0"
                               aria-invalid="false" autocomplete="off" style="">
                    </form>
                    <button md-ink-ripple="" class="btn btn-lg btn-fw btn-default" ng-click="GenerateKey()"
                            ng-if="foundKey!=true">Generate Key
                        <div class="md-ripple-container"></div>
                    </button>
                    <button md-ink-ripple="" ng-if="foundKey" ng-click="DeleteKey()"
                            class="btn btn-lg btn-fw btn-danger ">Delete key
                        <div class="md-ripple-container"></div>
                    </button>


                </div>
            </div>
            <div class="row no-margin">
                <h5 class="no-margin m-b">REST Api docs</h5>
                <!--BASIC SETUP-->
                <div class="card" id="basic">
                    <div class="card-heading">
                        <h4>Basic Setup</h4>
                    </div>
                    <div class="card-body p-sm bg-light lt">
                        <div class="row padding">
                            <div class="card">
                                <div class="card-heading">
                                    <h4>Request</h4>
                                </div>
                                <div class="card-body">

                                    <p>
                                        Any tool that is fluent in HTTP can communicate with the API simply by
                                        requesting the correct URI.
                                        Requests should be made using the HTTPS protocol
                                        so that traffic is encrypted. The interface responds to different methods
                                        depending on the action required.
                                    </p>

                                    <table class="table table-bordered bg-white">
                                        <thead>
                                        <tr>
                                            <th>Method</th>
                                            <th>Usage</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>GET</td>
                                            <td>
                                                <p>For simple retrieval of information about your account, Droplets, or
                                                    environment, you should use the <strong>GET</strong> method. The
                                                    information you request will be returned to you as a JSON object.
                                                </p>

                                                <p>The attributes defined by the JSON object can be used to form
                                                    additional requests. Any request using the GET method is read-only
                                                    and will not affect any of the objects you are querying.</p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>DELETE</td>
                                            <td>
                                                <p>To destroy a resource and remove it from your account and
                                                    environment, the <strong>DELETE</strong> method should be used. This
                                                    will remove the specified object if it is found. If it is not found,
                                                    the operation will return a response indicating that the object was
                                                    not found.</p>

                                                <p>This <a
                                                        href="http://en.wikipedia.org/wiki/Idempotent#Computer_science_meaning">idempotency</a>
                                                    means that you do not have to check for a resource's availability
                                                    prior to issuing a delete command, the final state will be the same
                                                    regardless of its existence.</p>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>POST</td>
                                            <td>
                                                <p>To create a new object, your request should specify the
                                                    <strong>POST</strong> method.</p>

                                                <p>The POST request includes all of the attributes necessary to create a
                                                    new object. When you wish to create a new object, send a POST
                                                    request to the target endpoint.</p>
                                            </td>
                                        </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="row">

                                <div class="card  m-h">
                                    <div class="card-heading">
                                        <h4>Responses</h4>
                                    </div>
                                    <div class="card-body">
                                        <p>
                                            When a request is successful, a response body will typically be sent back in
                                            the form of a JSON object. A
                                            n exception to this is when a DELETE request is processed, which will result
                                            in a successful HTTP 200 status and an empty response body.
                                        </p>

                                        <div class="card  bg-dark lt">
                                            <div class="card-heading">
                                                <div class="actionbutton"></div>
                                                <h2 class="pull-right">Example Response</h2>
                                            </div>
                                            <div class="card-body no-padding no-border">
 <pre class="language-javascript no-border">
  <code class="language-javascript no-border">
      {
      "id": 3,
      "amount": 250,
      "UseCounter": 0,
      "ispaid": false,
      "callback": "someURl",
      "type": "BOTH",
      "Expire": 146099842602
      }</code>                               </pre>
                                            </div>
                                        </div>


                                    </div>

                                </div>
                            </div>


                        </div>

                    </div>

                </div>
                <!--GENERATE TOKEN -->
                <div class="card" id="generate">
                    <div class="card-heading">
                        <h4>Generating Tokens</h4>
                    </div>
                    <div class="card-body p-sm bg-light lt">
                        <div class="row padding">
                            <div class="card">
                                <div class="card-heading">
                                    <h4>Request</h4>
                                </div>
                                <div class="card-body">

                                    <p>
                                       REST Api allows to Gernerate Unique Payment Tokens,this will use to identify payments
                                        and payment process the methode used in thisequest is POST and You can pass Token
                                        parameter as body of the request
                                        <b>NOTE</b>Callback Url shoud Accept Post request, This URL will be used to post deatils about successfull
                                        payment
                                    </p>
                                    <table class="table table-bordered bg-white">
                                        <tbody>
                                        <tr>
                                            <td >URL</td>
                                            <td >
                                                <pre class=" no-border language-ruby"><code class=" no-border language-ruby"><span class="token string">http://uiserved:4000/service/api/GenerateToken</span></code></pre>
                                            </td>
                                        </tr>
                                        <tr >
                                            <td  >METHODE</td>
                                            <td >&nbsp;POST</td>
                                        </tr>
                                        <tr>
                                            <td >BODY</td>
                                            <td>&nbsp;JSON</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="row">

                                <div class="card m-h">
                                    <div class="card-heading">
                                        <div class="actionbutton"></div>
                                        <h2 class="pull-right">Request</h2>
                                    </div>
                                    <div class="card-body bg-light lt editor">
                                        <div class="md-whiteframe-z0 bg-white">
                                            <ul class="nav nav-lines nav-tabs nav-justified">

                                                <li class="active">
                                                    <a href="" data-toggle="tab" data-target="#Http"
                                                       aria-expanded="false">Http </a>
                                                </li>
                                                <li class="">
                                                    <a href="" data-toggle="tab" data-target="#c"
                                                       aria-expanded="false">C#</a>
                                                </li>
                                                <li class="">
                                                    <a href="" data-toggle="tab" data-target="#node"
                                                       aria-expanded="false">NodeJS</a>
                                                </li>
                                                <li class="">
                                                    <a href="" data-toggle="tab" data-target="#java"
                                                       aria-expanded="false">Java</a>
                                                </li>
                                                <li class="">
                                                    <a href="" data-toggle="tab" data-target="#php"
                                                       aria-expanded="false">PHP</a>
                                                </li>
                                                <li class="">
                                                    <a href="" data-toggle="tab" data-target="#python"
                                                       aria-expanded="false">Python</a>
                                                </li>
                                                <li class="">
                                                    <a href="" data-toggle="tab" data-target="#ruby"
                                                       aria-expanded="false">Ruby</a>
                                                </li>
                                            </ul>
                                            <div class="tab-content">
 <div role="tabpanel" class="tab-pane animated fadeIn active" id="Http">
<pre class="language-http no-border">

  <code class="language-http no-border">
POST /service/api/GenerateToken HTTP/1.1
Host: uiserved:4000
apikey: -YOUR KEY-
Content-Type: application/json
Cache-Control: no-cache
      {
      "Callback":"someURl",
      "amount":250,
      "type":"static",
      "expire":10
      }
  </code>                               </pre>


                                             </div>
 <div role="tabpanel" class="tab-pane animated fadeIn" id="c">
<pre class="language-c no-border">

  <code class="language-c no-border">
var client = new RestClient("http://uiserved:4000/service/api/GenerateToken");
var request = new RestRequest(Method.POST);
request.AddHeader("cache-control", "no-cache");
request.AddHeader("content-type", "application/json");
request.AddHeader("apikey", "-YOUR API KEY");
request.AddParameter("application/json", "{\n    \"Callback\":\"someURl\",\n    \"amount\":250,\n    \"type\":\"static\",\n    \"expire\":10\n    \n}", ParameterType.RequestBody);
IRestResponse response = client.Execute(request);

  </code>                               </pre>


  </div>
<div role="tabpanel" class="tab-pane animated fadeIn" id="node">
<pre class="language-javascript no-border">

  <code class="language-javascript no-border">
var request = require("request");

var options = { method: 'POST',
      url: 'http://uiserved:4000/service/api/GenerateToken',
      headers:
      {
      'cache-control': 'no-cache',
      'content-type': 'application/json',
      apikey: '-YOUR API KEY' },
      body: { Callback: 'someURl', amount: 250, type: 'static', expire: 10 },
      json: true };

      request(options, function (error, response, body)
      {
      if (error) throw new Error(error);

      console.log(body);
});


  </code>                               </pre>


                                                </div>
 <div role="tabpanel" class="tab-pane animated fadeIn" id="java">
<pre class="language-java no-border">

  <code class="language-java no-border">
OkHttpClient client = new OkHttpClient();

MediaType mediaType = MediaType.parse("application/json");
RequestBody body = RequestBody.create(mediaType, "{\n    \"Callback\":\"someURl\",\n    \"amount\":250,\n    \"type\":\"static\",\n    \"expire\":10\n    \n}");
Request request = new Request.Builder()
.url("http://localhost:4000/service/api/GenerateToken")
.post(body)
.addHeader("apikey", "325413add8ce0cf0896dce36df9ac1885299cd08")
.addHeader("content-type", "application/json")
.build();

Response response = client.newCall(request).execute();


  </code>                               </pre>


                                                </div>
 <div role="tabpanel" class="tab-pane animated fadeIn" id="php">
<pre class="language-php no-border">
  <code class="language-php no-border">
      <?php

$request = new HttpRequest();
$request->setUrl('http://uiservd:4000/service/api/GenerateToken');
      $request->setMethod(HTTP_METH_POST);

      $request->setHeaders(array(
       'content-type' => 'application/json',
      'apikey' => '-your key'
      ));

      $request->setBody('{
      "Callback":"someURl",
      "amount":250,
      "type":"static",
      "expire":10

      }');

      try {
      $response = $request->send();

      echo $response->getBody();
      } catch (HttpException $ex) {
      echo $ex;
      }


  </code>
</pre>


                                                </div>
 <div role="tabpanel" class="tab-pane animated fadeIn" id="python">
<pre class="language-python no-border">
  <code class="language-python no-border">
      import http.client

      conn = http.client.HTTPConnection("uiserved:4000")

      payload = "{\n    \"Callback\":\"someURl\",\n    \"amount\":250,\n    \"type\":\"static\",\n    \"expire\":10\n    \n}"

      headers = {
      'apikey': "-YOUR API KEY-",
      'content-type': "application/json",
       }

      conn.request("POST", "/service/api/GenerateToken", payload, headers)

      res = conn.getresponse()
      data = res.read()

      print(data.decode("utf-8"))

  </code>
</pre>


                                                </div>
 <div role="tabpanel" class="tab-pane animated fadeIn" id="ruby">
<pre class="language-ruby no-border">
  <code class="language-ruby no-border">
      require 'uri'
      require 'net/http'

      url = URI("http://uiserved:4000/service/api/GenerateToken")

      http = Net::HTTP.new(url.host, url.port)

      request = Net::HTTP::Post.new(url)
      request["apikey"] = '325413add8ce0cf0896dce36df9ac1885299cd08'
      request["content-type"] = 'application/json'
      request.body = "{\n    \"Callback\":\"someURl\",\n    \"amount\":250,\n    \"type\":\"static\",\n    \"expire\":10\n    \n}"

      response = http.request(request)
      puts response.read_body

  </code>
</pre>


                                                </div>


                                            </div>





                                        </div>


                                    </div>


                                </div>


                            </div>

                        </div>

                    </div>


                </div>

                 <!--STATUS-->
                <div class="card" id="status">
                    <div class="card-heading">
                        <h4>Getting Status of Tokens</h4>
                    </div>
                    <div class="card-body p-sm bg-light lt">
                        <div class="row padding">
                            <div class="card">
                                <div class="card-heading">
                                    <h4>Request</h4>
                                </div>
                                <div class="card-body">

                                    <p>
                                        State Will provide current status of the token.this can be used to check wheather the payment
                                        processed.
                                        the parameter will be ID of the token.

                                    </p>
                                    <table class="table table-bordered bg-white">
                                        <tbody>
                                        <tr>
                                            <td >URL</td>
                                            <td >
                                                <pre class=" no-border language-ruby"><code class=" no-border language-ruby"><span class="token string">http://uiserved:4000/service/api/status</span></code></pre>
                                            </td>
                                        </tr>
                                        <tr >
                                            <td  >METHODE</td>
                                            <td >&nbsp;POST</td>
                                        </tr>
                                        <tr>
                                            <td >BODY</td>
                                            <td>&nbsp;JSON</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="row">

                                <div class="card m-h">
                                    <div class="card-heading">
                                        <div class="actionbutton"></div>
                                        <h2 class="pull-right">Request</h2>
                                    </div>
                                    <div class="card-body bg-light lt editor">
                                        <div class="md-whiteframe-z0 bg-white">
                                            <ul class="nav nav-lines nav-tabs nav-justified">

                                                <li class="active">
                                                    <a href="" data-toggle="tab" data-target="#Http2"
                                                       aria-expanded="false">Http </a>
                                                </li>
                                                <li class="">
                                                    <a href="" data-toggle="tab" data-target="#c2"
                                                       aria-expanded="false">C#</a>
                                                </li>
                                                <li class="">
                                                    <a href="" data-toggle="tab" data-target="#node2"
                                                       aria-expanded="false">NodeJS</a>
                                                </li>
                                                <li class="">
                                                    <a href="" data-toggle="tab" data-target="#java2"
                                                       aria-expanded="false">Java</a>
                                                </li>
                                                <li class="">
                                                    <a href="" data-toggle="tab" data-target="#php2"
                                                       aria-expanded="false">PHP</a>
                                                </li>
                                                <li class="">
                                                    <a href="" data-toggle="tab" data-target="#python2"
                                                       aria-expanded="false">Python</a>
                                                </li>
                                                <li class="">
                                                    <a href="" data-toggle="tab" data-target="#ruby2"
                                                       aria-expanded="false">Ruby</a>
                                                </li>
                                            </ul>
                                            <div class="tab-content">
                                                <div role="tabpanel" class="tab-pane animated fadeIn active" id="Http2">
<pre class="language-http no-border">

  <code class="language-http no-border">
      POST /service/api/status HTTP/1.1
      Host: uiserved.com:4000
      apikey: 76df0d026555bc80df17318d0cc7ab36a7dbe051
      Content-Type: application/json
      Cache-Control: no-cache

      {
      "id":2
      }
  </code>                               </pre>


                                                </div>
                                                <div role="tabpanel" class="tab-pane animated fadeIn" id="c2">
<pre class="language-c no-border">

  <code class="language-c no-border">
      var client = new RestClient("http://uiserved.com:4000/service/api/status");
      var request = new RestRequest(Method.POST);
      request.AddHeader("cache-control", "no-cache");
      request.AddHeader("content-type", "application/json");
      request.AddHeader("apikey", "-YOUR API KEY-");
      request.AddParameter("application/json", "{\n    \"id\":2\n}", ParameterType.RequestBody);
      IRestResponse response = client.Execute(request);

  </code>                               </pre>


                                                </div>
                                                <div role="tabpanel" class="tab-pane animated fadeIn" id="node2">
<pre class="language-javascript no-border">

  <code class="language-javascript no-border">
      var request = require("request");

      var options = { method: 'POST',
      url: 'http://uiserved.com:4000/service/api/status',
      headers:
      {
      'cache-control': 'no-cache',
      'content-type': 'application/json',
      apikey: '-YOUR API KEY-' },
      body: { id: 2 },
      json: true };

      request(options, function (error, response, body) {
      if (error) throw new Error(error);

      console.log(body);
      });



  </code>                               </pre>


                                                </div>
                                                <div role="tabpanel" class="tab-pane animated fadeIn" id="java2">
<pre class="language-java no-border">

  <code class="language-java no-border">
      OkHttpClient client = new OkHttpClient();

      MediaType mediaType = MediaType.parse("application/json");
      RequestBody body = RequestBody.create(mediaType, "{\n    \"id\":2\n}");
      Request request = new Request.Builder()
      .url("http://uiserved.com:4000/service/api/status")
      .post(body)
      .addHeader("apikey", "-YOUR API KEY-")
      .addHeader("content-type", "application/json")
      .addHeader("cache-control", "no-cache")
      .build();

      Response response = client.newCall(request).execute();


  </code>                               </pre>


                                                </div>
                                                <div role="tabpanel" class="tab-pane animated fadeIn" id="php2">
<pre class="language-php no-border">
  <code class="language-php no-border">
      <?php

$request = new HttpRequest();
$request->setUrl('http://uiserved.com:4000/service/api/status');
      $request->setMethod(HTTP_METH_POST);

      $request->setHeaders(array(
      'postman-token' => '-your key-',
      'cache-control' => 'no-cache',
      'content-type' => 'application/json',
      ));

      $request->setBody('{
      "id":2
      }');

      try {
      $response = $request->send();

      echo $response->getBody();
      } catch (HttpException $ex) {
      echo $ex;
      }
  </code>
</pre>


                                                </div>
                                                <div role="tabpanel" class="tab-pane animated fadeIn" id="python2">
<pre class="language-python no-border">
  <code class="language-python no-border">
      import http.client

      conn = http.client.HTTPConnection("uiserved.com:4000")

      payload = "{\n    \"id\":2\n}"

      headers = {
      'apikey': "-YOUR API KEY- ",
      'content-type': "application/json",
      'cache-control': "no-cache",
      }

      conn.request("POST", "/service/api/status", payload, headers)

      res = conn.getresponse()
      data = res.read()

      print(data.decode("utf-8"))
  </code>
</pre>


                                                </div>
                                                <div role="tabpanel" class="tab-pane animated fadeIn" id="ruby2">
<pre class="language-ruby no-border">
  <code class="language-ruby no-border">
      require 'uri'
      require 'net/http'

      url = URI("http://localhost:4000/service/api/status")

      http = Net::HTTP.new(url.host, url.port)

      request = Net::HTTP::Post.new(url)
      request["apikey"] = '-YOUR API KEY-'
      request["content-type"] = 'application/json'
      request.body = "{\n    \"id\":2\n}"

      response = http.request(request)
      puts response.read_body

  </code>
</pre>


                                                </div>


                                            </div>





                                        </div>


                                    </div>


                                </div>


                            </div>

                        </div>

                    </div>


                </div>

                <!--LIST TOKENS-->
                <div class="card" id="list">
                    <div class="card-heading">
                        <h4>List all generated Token </h4>
                    </div>
                    <div class="card-body p-sm bg-light lt">
                        <div class="row padding">
                            <div class="card">
                                <div class="card-heading">
                                    <h4>Request</h4>
                                </div>
                                <div class="card-body">

                                    <p>
                                        To list all token genrated by the specific api Key
                                        the response will be in a JSON Array

                                    </p>
                                    <table class="table table-bordered bg-white">
                                        <tbody>
                                        <tr>
                                            <td >URL</td>
                                            <td >
                                                <pre class=" no-border language-ruby"><code class=" no-border language-ruby"><span class="token string">http://uiserved.com:4000/service/api/getAlltokens</span></code></pre>
                                            </td>
                                        </tr>
                                        <tr >
                                            <td  >METHODE</td>
                                            <td >&nbsp;GET</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="row">

                                <div class="card m-h">
                                    <div class="card-heading">
                                        <div class="actionbutton"></div>
                                        <h2 class="pull-right">Request</h2>
                                    </div>
                                    <div class="card-body bg-light lt editor">
                                        <div class="md-whiteframe-z0 bg-white">
                                            <ul class="nav nav-lines nav-tabs nav-justified">

                                                <li class="active">
                                                    <a href="" data-toggle="tab" data-target="#Http3"
                                                       aria-expanded="false">Http </a>
                                                </li>
                                                <li class="">
                                                    <a href="" data-toggle="tab" data-target="#c3"
                                                       aria-expanded="false">C#</a>
                                                </li>
                                                <li class="">
                                                    <a href="" data-toggle="tab" data-target="#node3"
                                                       aria-expanded="false">NodeJS</a>
                                                </li>
                                                <li class="">
                                                    <a href="" data-toggle="tab" data-target="#java3"
                                                       aria-expanded="false">Java</a>
                                                </li>
                                                <li class="">
                                                    <a href="" data-toggle="tab" data-target="#php3"
                                                       aria-expanded="false">PHP</a>
                                                </li>
                                                <li class="">
                                                    <a href="" data-toggle="tab" data-target="#python3"
                                                       aria-expanded="false">Python</a>
                                                </li>
                                                <li class="">
                                                    <a href="" data-toggle="tab" data-target="#ruby3"
                                                       aria-expanded="false">Ruby</a>
                                                </li>
                                            </ul>
                                            <div class="tab-content">
                                                <div role="tabpanel" class="tab-pane animated fadeIn active" id="Http3">
<pre class="language-http no-border">

  <code class="language-http no-border">
GET /service/api/getAlltokens HTTP/1.1
Host: uiserved.com:4000
apikey: -YOUR API TOKEN-
Content-Type: application/json
Cache-Control: no-cache

  </code>                               </pre>


                                                </div>
                                                <div role="tabpanel" class="tab-pane animated fadeIn" id="c3">
<pre class="language-c no-border">

  <code class="language-c no-border">
var client = new RestClient("http://uiserved.com:4000/service/api/getAlltokens");
var request = new RestRequest(Method.GET);
request.AddHeader("cache-control", "no-cache");
request.AddHeader("content-type", "application/json");
request.AddHeader("apikey", "-YOUR API KEY-");
IRestResponse response = client.Execute(request);

  </code>                               </pre>


                                                </div>
                                                <div role="tabpanel" class="tab-pane animated fadeIn" id="node3">
<pre class="language-javascript no-border">

  <code class="language-javascript no-border">
var request = require("request");

var options = { method: 'GET',
url: 'http://uiserved.com:4000/service/api/getAlltokens',
headers:
{
'cache-control': 'no-cache',
'content-type': 'application/json',
apikey: '-YOUR API KEY-' },
};

request(options, function (error, response, body) {
if (error) throw new Error(error);
console.log(body);
});




  </code>                               </pre>


                                                </div>
                                                <div role="tabpanel" class="tab-pane animated fadeIn" id="java3">
<pre class="language-java no-border">

  <code class="language-java no-border">
      OkHttpClient client = new OkHttpClient();

      MediaType mediaType = MediaType.parse("application/json");
      RequestBody body = RequestBody.create(mediaType, "{\n    \"id\":2\n}");
      Request request = new Request.Builder()
      .url("http://uiserved.com:4000/service/api/getAlltokens")
      .get()
      .addHeader("apikey", "-YOUR API KEY-")
      .addHeader("content-type", "application/json")
      .addHeader("cache-control", "no-cache")
      .build();

      Response response = client.newCall(request).execute();


  </code>                               </pre>


                                                </div>
                                                <div role="tabpanel" class="tab-pane animated fadeIn" id="php3">
<pre class="language-php no-border">
  <code class="language-php no-border">
      <?php

$request = new HttpRequest();
$request->setUrl('http://uiserved.com:4000/service/api/getAlltokens');
      $request->setMethod(HTTP_METH_GET);

      $request->setHeaders(array(
      'cache-control' => 'no-cache',
      'content-type' => 'application/json',
      'apikey' => '76df0d026555bc80df17318d0cc7ab36a7dbe051'
      ));

      try {
      $response = $request->send();

      echo $response->getBody();
      } catch (HttpException $ex) {
      echo $ex;
      }
  </code>
</pre>


                                                </div>
                                                <div role="tabpanel" class="tab-pane animated fadeIn" id="python3">
<pre class="language-python no-border">
  <code class="language-python no-border">
      import http.client

      conn = http.client.HTTPConnection("uiserved.com:4000")

      headers = {
      'apikey': "-YOUR API KEY-",
      'content-type': "application/json",
      'cache-control': "no-cache",
      }

      conn.request("GET", "/service/api/getAlltokens", payload, headers)

      res = conn.getresponse()
      data = res.read()

      print(data.decode("utf-8"))
  </code>
</pre>


                                                </div>
                                                <div role="tabpanel" class="tab-pane animated fadeIn" id="ruby3">
<pre class="language-ruby no-border">
  <code class="language-ruby no-border">
require 'uri'
require 'net/http'

url = URI("http://uiserved.com:4000/service/api/getAlltokens")

http = Net::HTTP.new(url.host, url.port)
request = Net::HTTP::Get.new(url)
      request["apikey"] = '-YOUR API KEY-'
      request["content-type"] = 'application/json'
      request["cache-control"] = 'no-cache'

      response = http.request(request)
      puts response.read_body

  </code>
</pre>


                                                </div>


                                            </div>





                                        </div>


                                    </div>


                                </div>


                            </div>

                        </div>

                    </div>


                </div>



                <!--DELETE TOKEN-->
                <div class="card" id="delete">
                    <div class="card-heading">
                        <h4>Delete Token </h4>
                    </div>
                    <div class="card-body p-sm bg-light lt">
                        <div class="row padding">
                            <div class="card">
                                <div class="card-heading">
                                    <h4>Request</h4>
                                </div>
                                <div class="card-body">

                                    <p>
                                        This reuest is used to delete a tokent that generated using the specific API key

                                    </p>
                                    <table class="table table-bordered bg-white">
                                        <tbody>
                                        <tr>
                                            <td >URL</td>
                                            <td >
                                                <pre class=" no-border language-ruby"><code class=" no-border language-ruby"><span class="token string">http://uiserved.com:4000/service/api/token</span></code></pre>
                                            </td>
                                        </tr>
                                        <tr >
                                            <td  >METHODE</td>
                                            <td >&nbsp;DELETE</td>
                                        </tr>
                                        <tr >
                                            <td  >BODY</td>
                                            <td >&nbsp;JSON</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="row">

                                <div class="card m-h">
                                    <div class="card-heading">
                                        <div class="actionbutton"></div>
                                        <h2 class="pull-right">Request</h2>
                                    </div>
                                    <div class="card-body bg-light lt editor">
                                        <div class="md-whiteframe-z0 bg-white">
                                            <ul class="nav nav-lines nav-tabs nav-justified">

                                                <li class="active">
                                                    <a href="" data-toggle="tab" data-target="#Http4"
                                                       aria-expanded="false">Http </a>
                                                </li>
                                                <li class="">
                                                    <a href="" data-toggle="tab" data-target="#c4"
                                                       aria-expanded="false">C#</a>
                                                </li>
                                                <li class="">
                                                    <a href="" data-toggle="tab" data-target="#node4"
                                                       aria-expanded="false">NodeJS</a>
                                                </li>
                                                <li class="">
                                                    <a href="" data-toggle="tab" data-target="#java4"
                                                       aria-expanded="false">Java</a>
                                                </li>
                                                <li class="">
                                                    <a href="" data-toggle="tab" data-target="#php4"
                                                       aria-expanded="false">PHP</a>
                                                </li>
                                                <li class="">
                                                    <a href="" data-toggle="tab" data-target="#python4"
                                                       aria-expanded="false">Python</a>
                                                </li>
                                                <li class="">
                                                    <a href="" data-toggle="tab" data-target="#ruby4"
                                                       aria-expanded="false">Ruby</a>
                                                </li>
                                            </ul>
                                            <div class="tab-content">
                                                <div role="tabpanel" class="tab-pane animated fadeIn active" id="Http4">
<pre class="language-http no-border">

  <code class="language-http no-border">
      DELETE /service/api/token HTTP/1.1
      Host: uiserved.com:4000
      apikey: -YOUR API KEY-
      Content-Type: application/json
      Cache-Control: no-cache

      {
      "id":2
      }

  </code>                               </pre>


                                                </div>
                                                <div role="tabpanel" class="tab-pane animated fadeIn" id="c4">
<pre class="language-c no-border">

  <code class="language-c no-border">
      var client = new RestClient("http://uiserved.com:4000/service/api/token");
      var request = new RestRequest(Method.DELETE);
      request.AddHeader("cache-control", "no-cache");
      request.AddHeader("content-type", "application/json");
      request.AddHeader("apikey", "-YOUR API KEY-");
      request.AddParameter("application/json", "{\n    \"id\":2\n}", ParameterType.RequestBody);
      IRestResponse response = client.Execute(request);
  </code>                               </pre>


                                                </div>
                                                <div role="tabpanel" class="tab-pane animated fadeIn" id="node4">
<pre class="language-javascript no-border">

  <code class="language-javascript no-border">
      var request = require("request");

      var options = { method: 'DELETE',
      url: 'http://uiserved.com:4000/service/api/token',
      headers:
      {
      'cache-control': 'no-cache',
      'content-type': 'application/json',
      apikey: '-YOUR API KEY-' },
      body: { id: 2 },
      json: true };

      request(options, function (error, response, body) {
      if (error) throw new Error(error);

      console.log(body);
      });



  </code>                               </pre>


                                                </div>
                                                <div role="tabpanel" class="tab-pane animated fadeIn" id="java4">
<pre class="language-java no-border">

  <code class="language-java no-border">
      OkHttpClient client = new OkHttpClient();

      MediaType mediaType = MediaType.parse("application/json");
      RequestBody body = RequestBody.create(mediaType, "{\n    \"id\":2\n}");
      Request request = new Request.Builder()
      .url("http://uiserved.com:4000/service/api/token")
      .delete(body)
      .addHeader("apikey", "-YOUR API KEY-")
      .addHeader("content-type", "application/json")
      .addHeader("cache-control", "no-cache")
      .build();

      Response response = client.newCall(request).execute();


  </code>                               </pre>


                                                </div>
                                                <div role="tabpanel" class="tab-pane animated fadeIn" id="php4">
<pre class="language-php no-border">
  <code class="language-php no-border">
      $request = new HttpRequest();
      $request->setUrl('http://uiserved.com:4000/service/api/token');
      $request->setMethod(HTTP_METH_DELETE);

      $request->setHeaders(array(
      'cache-control' => 'no-cache',
      'content-type' => 'application/json',
      'apikey' => '-YOUR API KEY-'
      ));

      $request->setBody('{
      "id":2
      }');

      try {
      $response = $request->send();

      echo $response->getBody();
      } catch (HttpException $ex) {
      echo $ex;
      }
  </code>
</pre>


                                                </div>
                                                <div role="tabpanel" class="tab-pane animated fadeIn" id="python4">
<pre class="language-python no-border">
  <code class="language-python no-border">
      import http.client

      conn = http.client.HTTPConnection("uiserved.com:4000")

      payload = "{\n    \"id\":2\n}"

      headers = {
      'apikey': "-YOUR API KEY-",
      'content-type': "application/json",
      'cache-control': "no-cache",
      }

      conn.request("DELETE", "/service/api/token", payload, headers)

      res = conn.getresponse()
      data = res.read()

      print(data.decode("utf-8"))
  </code>
</pre>


                                                </div>
                                                <div role="tabpanel" class="tab-pane animated fadeIn" id="ruby4">
<pre class="language-ruby no-border">
  <code class="language-ruby no-border">
      require 'uri'
      require 'net/http'

      url = URI("http://uiserved.com:4000/service/api/token")

      http = Net::HTTP.new(url.host, url.port)

      request = Net::HTTP::Delete.new(url)
      request["apikey"] = '-YOUR API KEY-'
      request["content-type"] = 'application/json'
      request["cache-control"] = 'no-cache'
      request.body = "{\n    \"id\":2\n}"

      response = http.request(request)
      puts response.read_body
  </code>
</pre>


                                                </div>


                                            </div>





                                        </div>


                                    </div>


                                </div>


                            </div>

                        </div>

                    </div>


                </div>



            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            Prism.highlightAll();
            window.baseloc=window.location.hash;
        })


    </script>