  <div class="row">
    <div class="row row-xs">
      <div class="col-sm-4">
        <div class="panel panel-card">
          <div class="p">
            Account
          </div>
          <div class="panel-body text-center">
            <div class="m-v-lg">
              Total Balance
              <div class="h2 text-success font-bold"><i class="fa fa-rupee"></i>  {{LogUser.Balance.toLocaleString()}}</div>
            </div>
          </div>
          <div class="b-t b-light p">
            Composite
            <div class="progress progress-striped progress-sm r m-v-sm">
              <div class="progress-bar {{app.setting.theme.accent}}" style="width:30%">30%</div>
              <div class="progress-bar {{app.setting.theme.warn}}" style="width:20%">20%</div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="panel panel-card p m-b-sm">
          <h5 class="no-margin m-b">Today So far</h5>
          <div class="text-center" >
            <div class="inline">
              <div ui-jp="easyPieChart" ui-options="{
                percent: 50,
                lineWidth: 70,
                trackColor: '#fff',
                barColor: '#A2CF6E',
                scaleColor: '#fff',
                size: 167,
                lineCap: 'butt',
                rotate: 90,
                animate: 5000
              }">
                <div class="font-bold h3 text-accent">
                  50%
                </div>
              </div>
            </div>
          </div>
          <div>
            <div><strong>32</strong> not finished</div>
            <small class="text-muted">432 task finished</small>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="panel panel-card p m-b-sm">
          <h5 class="no-margin m-b">Sells</h5>
          <div class="text-center" ng-controller="ChartCtrl">
            <div ui-jp="plot" ui-options="
              {{plot_pie}},
              {
                series: { pie: { show: true, innerRadius: 0.4, stroke: { width: 3 }, label: { show: true, threshold: 0.05 } } },
                colors: ['{{app.color.info}}','{{app.color.warning}}','{{app.color.success}}','{{app.color.accent}}'],
                grid: { hoverable: true, clickable: true, borderWidth: 0, color: '#ccc' },
                tooltip: true,
                tooltipOpts: { content: '%s: %p.0%' }
              }
            " style="height:168px"></div>
          </div>
          <div class="m-t-xs">
            <div class="font-bold">$432,000</div>
            <small class="text-muted">This month</small>
          </div>
        </div>
      </div>
    </div>
    <div class="row row-xs" ng-controller="ChartCtrl">
      <div class="col-sm-4">
        <div class="panel panel-card p m-b-sm">
          <h5 class="no-margin m-b">{{hello}}</h5>
          <div class="text-center">
            <div class="inline">
              <div ui-jp="easyPieChart" ui-options="
            {
                percent: 25,
                lineWidth: 12,
                trackColor: '{{app.color.light}}',
                barColor: '{{app.color.success}}',
                scaleColor: '#fff',
                size: 167,
                lineCap: 'butt',
                color: '{{color}}',
                animate: 3000,
                rotate: 270
              }" ng-init="color = getColor(app.setting.theme.primary, 400)">
                <div class="font-bold text-warning">
                  25%
                </div>
              </div>
            </div>
          </div>
          <div>
            <div><strong>5</strong> remainning</div>
            <small class="text-muted">Next task: 19:30 Thu</small>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="panel panel-card">
          <div class="p">
            <label class="md-switch pull-right" ng-init="showData=false">
              <input type="checkbox" ng-model="showData">
              <i class="{{app.setting.theme.accent}}"></i>
            </label>
            <span>Monitor</span> <i class="fa fa-caret-up text-success"></i><span class="text-xs text-muted m-l-xs">1.5%</span>
          </div>
          <div class="panel-body">
            <div ui-jp="plot" ui-refresh="showData" ui-options="
            [
              {
                data: {{plot_line}},
                points: { show: true, radius: 4, lineWidth: 3, fillColor: '{{app.color.accent}}'},
                lines:  { show: {{showData}}, lineWidth: 0, fill: 0.5, fillColor: '{{app.color.accent}}' },
                color:'#fff'
              }
            ],
            {
              series: { shadowSize: 0 },
              xaxis: { show: true, font: { color: '#ccc' }, position: 'bottom' },
              yaxis:{ show: true, font: { color: '#ccc' }},
              grid: { hoverable: true, clickable: true, borderWidth: 0, color: '#ccc' },
              tooltip: true,
              tooltipOpts: { content: '%x.0 is %y.4',  defaultTheme: false, shifts: { x: 0, y: -40 } }
            }
          " style="height:198px">
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="panel panel-card">
          <div class="p">
            Total revenue of this month
          </div>
          <div style="overflow-x: hidden">
            <div style="margin: 0 -4px;" >
              <div ui-jp="plot" ui-options="
              [
                { data: {{plot_line_1}}, points: { show: true, radius: 0}, splines: { show: true, tension: 0.45, lineWidth: 1, fill: 0.2 } },
                { data: {{plot_line_2}}, points: { show: true, radius: 0}, splines: { show: true, tension: 0.45, lineWidth: 1, fill: 1 } }
              ],
              {
                colors: ['#cccccc', '{{app.color.dark}}'],
                series: { shadowSize: 3 },
                xaxis: { show: false, font: { color: '#ccc' }, position: 'bottom' },
                yaxis:{ show: false, font: { color: '#ccc' }},
                grid: { hoverable: true, clickable: true, borderWidth: 0, color: '#ccc' },
                tooltip: true,
                tooltipOpts: { content: '%x.0 is %y.4',  defaultTheme: false, shifts: { x: 0, y: -40 } }
              }
            " style="height:173px" >
              </div>
            </div>
          </div>
          <div class="panel-footer bg-dark no-b-t">
            <div class="box">
              <div class="box-col">
                <span class="text-md">$30,343 <i class="fa fa-caret-up text-muted"></i></span>
              </div>
              <div class="box-col text-right w-xs">
                <div ng-init="data1=[60,40]" ui-jp="sparkline" ui-options="{{data1}}, {type:'pie', height:25, sliceColors:['{{app.color.warning}}','#fff']}" class="sparkline inline"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
