<div class="row">
    <div ng-if="!showtime" layout="row" class="fade-in-up" layout-sm="column" layout-align="space-around">
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>
<div ng-if="showtime" class=" fade-in-up col-lg-7 col-md-6 col-sm-6">
    <div class="row">
        <div class="card">
            <div class="card-heading">
                <h2>{{store.StoreName}}</h2>

            </div>
            <div class="card-body bg-light lt">
                <md-grid-list
                        md-cols="1" md-cols-sm="2" md-cols-md="3" md-cols-gt-md="6"
                        md-row-height-gt-md="4:4" md-row-height="4:6"
                        md-gutter="8px" md-gutter-gt-sm="4px">
                    <md-grid-tile ng-repeat="tile in tableTokens"
                                  id="{{tile.id}}"
                                  class="light-blue-500 md-whiteframe-z0 lt'"
                                  md-rowspan="1" md-colspan="1" md-colspan-sm="1"
                                  ng-class="{'light-blue-900': this.hover,'grey-300': tile.id==SelectedToken.id}"

                            >
                        <i class="fa fa-qrcode fa-4x"></i>
                        <md-grid-tile-footer><h3>{{tile.DeskName}}</h3></md-grid-tile-footer>
                    </md-grid-tile>

                </md-grid-list>

            </div>

        </div>
        <div class="md-whiteframe-z0 bg-white">
            <ul class="nav nav-lines nav-tabs nav-justified">
                <li class="active">
                    <a href="" data-toggle="tab" data-target="#tab_7" aria-expanded="true">Orders<span
                            class="badge bg-info badge-xs">{{list.accepted.length}}</span></a>
                </li>
                <li class="">
                    <a href="" data-toggle="tab" data-target="#tab_8" aria-expanded="false">Declined <span
                            class="badge bg-info badge-xs">{{list.declined.length}}</span></a>
                </li>
                <li class="">
                    <a href="" data-toggle="tab" data-target="#tab_9" aria-expanded="false">Payments</a>
                </li>
            </ul>
            <div class="tab-content p m-b-md clear b-t b-t-2x">
                <div role="tabpanel" class="tab-pane animated fadeInDown active" id="tab_7">

                    <div class="md-list md-whiteframe-z0 bg-white m-b">
                        <div class="md-list-item" ng-repeat="order in list.accepted"
                             ng-click="ShowOrder(order,false,'Order Summary')">
                            <div class="md-list-item-left circle green">
                                <i class="mdi-action-verified-user i-24"></i>
                            </div>
                            <div class="md-list-item-content">
                                <h3 class="text-md">{{order.product.Name}}</h3>

                                <h3 class="text-md pull-right">{{order.token.DeskName}}</h3>
                                <small class="font-thin"><i class="fa fa-rupee"></i>
                                    {{(order.product.Price*order.qty).toLocaleString()}}
                                </small>
                                <small class="font-thin pull-right"> {{order.orderTime | date:'medium'}}</small>
                            </div>
                        </div>
                    </div>

                </div>
                <div role="tabpanel" class="tab-pane animated fadeInDown" id="tab_8">
                    <div class="md-list md-whiteframe-z0 bg-white m-b">
                        <div class="md-list-item" ng-repeat="order in list.declined"
                             ng-click="ShowOrder(order,true,'Order Summary')">
                            <div class="md-list-item-left circle red">
                                <i class="mdi-action-thumb-down i-24"></i>
                            </div>
                            <div class="md-list-item-content">
                                <h3 class="text-md">{{order.product.Name}}</h3>
                                <small class="font-thin"><i class="fa fa-rupee"></i>
                                    {{(order.product.Price*order.qty).toLocaleString()}}
                                </small>
                            </div>
                        </div>
                    </div>

                </div>
                <div role="tabpanel" class="tab-pane animated fadeInDown" id="tab_9">
                    <div class="md-list md-whiteframe-z0 bg-white m-b">
                        <div class="md-list-item" ng-repeat="tokens in tableTokens"
                              >
                            <div ng-if="!tokens.ispaid" class="md-list-item-left circle red">
                                <i class="mdi-action-receipt i-24"></i>
                            </div>
                            <div ng-if="tokens.ispaid" class="md-list-item-left circle green">
                                <i class="mdi-action-receipt i-24"></i>
                            </div>
                            <div class="md-list-item-content">
                                <h3 class="text-md">{{tokens.DeskName}}</h3>
                                <small class="font-thin"><i class="fa fa-rupee"></i>
                                    {{tokens.amount.toLocaleString()}}
                                </small>
                                <div class="pull-right">
                                    <button md-ink-ripple ng- class="btn btn-fw btn-info btn-rounded">Add Payment</button>
                                    <button ng-if="tokens.ispaid" md-ink-ripple class="btn btn-fw btn-success btn-rounded">View payment</button>
                                    <button ng-if="tokens.ispaid" md-ink-ripple class="btn btn-fw btn-danger btn-rounded">Add new payement</button>
                                 </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div ng-if="showtime" class="col-lg-3 col-md-4 col-sm-4" ng-controller="DeskRecents">
    <div class="card">
        <div class="card-heading">
            <h2 class="font-thin">Status</h2>
        </div>
        <div class="card-tools">

        </div>
        <div class="card-divider"></div>
        <div class="card-body">
            <div class="list-group no-border no-radius">
                <div class="list-group-item">
                    <span class="pull-right">online</span>
                    <i class="fa fa-fw fa-circle m-r-sm text-{{Status}} pull-right"></i>
                    Store Status
                </div>
                <div class="list-group-item">
                    <span class="pull-right">{{ConnectedTokens.length}}</span>
                    Total Clients
                </div>
                <div class="list-group-item">
                    <div class="text-center">
                        <button md-ink-ripple="" ng-click="RestartService()" class="md-btn md-fab m-b red">
                            <i  class="mdi-navigation-refresh i-24"></i>
                            <md-tooltip>
                                Restart Service
                            </md-tooltip>
                        </button>
                        <button md-ink-ripple="" class="md-btn md-fab m-b indigo">
                            <i class="mdi-social-group i-24 i-24"></i>
                            <md-tooltip>
                                Remove all Clients
                            </md-tooltip>
                        </button>
                        <button md-ink-ripple="" class="md-btn md-fab m-b blue"><i
                                class="mdi-social-whatshot i-24"></i>
                            <md-tooltip>
                                Remove all Orders
                            </md-tooltip>
                        </button>

                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-heading">
            <h2>Activities</h2>
        </div>
        <div class="card-body" style="overflow:auto; height:400px;">
            <div class="streamline b-l b-accent m-b">

                <div class="sl-item b-info" ng-repeat="activity in Activities | reverse ">
                    <div class="sl-content">
                        <div class="text-muted-dk">{{activity.time | date:"h:mma"}}</div>
                        <p> {{activity.activity}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div ng-if="showtime" class="col-md-2 col-sm-2 card">
    <h4 class="m-l">Connected clients</h4>
    <ul class="list-group no-bg no-borders pull-in">
        <li class="list-group-item clearfix" ng-repeat="clients in ConnectedUsers">
            <a herf="" class="pull-left w-40 m-r">
                <img ng-src="profile/{{clients.profilepic}}" class="w-full img-circle">
            </a>

            <div class="clear text-ellipsis">
                <div><a href="">{{clients.Name}}</a></div>
                <small class="text-muted-dk">{{clients.table.DeskName}}</small>
            </div>
        </li>
    </ul>
</div>
</div>
