<div class="row">
    <div ng-if="!showtime" layout="row" class="fade-in-up" layout-sm="column" layout-align="space-around">
        <md-progress-circular md-mode="indeterminate"></md-progress-circular>
    </div>
    <div ng-if="showtime" class=" fade-in-up col-md-8">
        <div class="card">
            <div class="card-heading">
                <h2>{{store.StoreName}}</h2>

         </div>
        <div class="card-body bg-light lt">

            <md-grid-list
                    md-cols="1" md-cols-sm="2" md-cols-md="3" md-cols-gt-md="6"
                    md-row-height-gt-md="4:4" md-row-height="4:6"
                    md-gutter="8px" md-gutter-gt-sm="4px">
                <md-grid-tile ng-repeat="tile in desktokens"
                              class="light-blue-500 md-whiteframe-z0 lt'"
                              md-rowspan="1" md-colspan="1" md-colspan-sm="1"
                              ng-class="{'light-blue-900': this.hover,'grey-300': tile.id==SelectedToken.id}"
                              ng-mouseover="this.hover=true"
                              ng-click="showTokenInfo(tile)"
                              ng-mouseleave="this.hover=false"
                        >
                    <i class="fa fa-qrcode fa-4x"></i>
                    <md-grid-tile-footer><h3>{{tile.DeskName}}</h3></md-grid-tile-footer>
                </md-grid-tile>

            </md-grid-list>

        </div>

    </div>
</div>

<div ng-if="showtime" class=" fade-in-up col-md-4">
    <div class="card">
        <div class="card-heading">
            <h2>Token info</h2>
            <small class="text-muted">Desk :  {{SelectedToken.DeskName}}</small>
        </div>
        <div ng-if="showToken" class="card-body bg-light lt">
            <qrcode style="margin-left: 8%;" class="qrshadow" version="8" size="240" download
                    error-correction-level="HIGH" data="{{qrdata}}"></qrcode>
            <div class="panel panel-success fade-in-down">
                <div class="panel-heading bg-white">
                    Save Options
                </div>
                <div class="panel-body">

                    <div class="row center-block m t5">
                        <button class="btn btn-rounded btn-stroke btn-success fade-in-down"
                                ng-click="QRdialogue($event)">Resize And Download QR
                        </button>
                    </div>

                    <div class="row center-block m t5">

                        <button class="btn btn-rounded btn-stroke btn-success fade-in-down" ng-click="WriteNFC($event)">
                            Write to NFC
                        </button>

                    </div>
                    <div class="row center-block m t5">

                        <button class="btn btn-rounded btn-stroke btn-danger fade-in-down" ng-click="deletetoken($event)">
                           Delet this Token
                        </button>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>


<a md-ink-ripple ng-click="CreateToken()" class="md-btn md-fab md-fab-bottom-right pos-fix green" data-toggle="modal"
   data-target="#createModal"><i
        class="mdi-content-add i-24"></i></a>

