<div class="card ng-scope">
  <div class="card-heading">
    <h2>PayToken Generator</h2>
    <small>Generate QR/NFC Tokens</small>
  </div>
  <div class="card-body bg-light lt">
      <div class="row">
          <div class="col-md-6">
              <div class="panel panel-default fade-in-right" ng-hide="showopt">
                  <div class="panel-heading bg-white">
                     Fill the follwing Form To generate tokens<br>
                   </div>
                  <div class="panel-body">
                      <form role="form"  class="ng-pristine ng-valid">
                          <div class="md-form-group float-label">
                              <input class="md-input" type="number" ng-model="token.Amount" required="" tabindex="0" aria-required="true" aria-invalid="true" autocomplete="off" style="">
                            </i><label>Amount</label>
                          </div>
                          <div class="form-group">
                              <div class="row row-sm">
                                  <div class="col-xs-4">
                                      <label class="control-label">Token Type</label>
                                   </div>
                                  <div class="col-xs-8">
                                      <md-switch aria-label="NFC" ng-model="tokenmodel.nfc"  class="md-warn" ng-change="typealter()">
                                          NFC
                                      </md-switch>
                                      <md-switch aria-label="NFC" ng-model="tokenmodel.qr" ng-change="typealter()"  class="md-warn">
                                         QR
                                      </md-switch>
                                  </div>
                              </div>

                          </div>
                          <div class="form-group">
                              <div class="row">
                                  <div class="col-xs-4">
                                          <span>Token Scheme :</span>
                                   </div>
                                  <div class="col-xs-8">
                                      <md-select ng-model="token.scheme"  placeholder="Select Scheme">
                                          <md-option ng-value="opt" ng-repeat="opt in schems">{{ opt }}</md-option>
                                      </md-select>
                                  </div>
                              </div>

                          </div>
                          <div class="form-group fade-in-up" ng-if="token.scheme.indexOf('Donation') < 0" >
                              <div class="row">
                                  <div class="col-xs-4">
                                          <span>Expire in</span>
                                   </div>
                                  <div class="col-xs-6">
                                      <md-slider md-discrete ng-model="tokenmodel.expire" ng-change="exprirealter()" step="1" min="1" max="5" aria-label="rating">
                                     </div>
                                  <div class="col-xs-2">
                                      <span class="text-muted">Hrs</span>
                                  </div>
                              </div>

                          </div>
                          <button  ng-click="generate()" class="btn btn-default m-b">Submit</button>
                      </form>
                  </div>
              </div>
              <div class="panel panel-default"ng-show="showopt">
                  <div class="panel-heading bg-white fade-in-left"  >
                    Options<br>
                   </div>
                  <div class="panel-body">
                    <button class="btn btn-rounded btn-stroke btn-success fade-in-down" ng-click="new()">Create new one</button>
                  </div>
              </div>
          </div>
          <div class="col-md-6">
              <cardtoken tokenobj="token" tokenctrl="cardctrl"></cardtoken>
          </div>
       </div>


  </div>
</div>