
      <div layout="row" ng-if="!ShowResult" layout-sm="column" layout-align="space-around">
            <md-progress-circular class="md-hue-2" md-mode="indeterminate"></md-progress-circular>
      </div>
<div ng-if="ShowResult" class="card" ng-repeat="store in stores">
    <div class="card-heading">
        <h2>{{store.StoreName}}</h2>
        <small class="text-muted">{{store.StoreTypes}}</small>
    </div >
    <div class="card-body bg-light lt" >
    <div class="row">
    <div class="col-lg-12" >
        <div class="row row-lg">
                <div class="col-lg-4" ng-repeat="product in  products[store.id]">
                    <div class="card">
                        <div class="item">
                            <a href=""><img ng-src="/product/{{product.productpic}}" class="w-full" alt="Washed Out"></a>
                            <div class="bottom text-white p-md">
                                Rs.{{product.Price}}
                            </div>
                        </div>
                        <div class="card-body">
                            <h3 class="no-margin m-b">{{product.Name}}</h3>
                            <ul class="list-inline pull-right">
                                <li class="dropdown">
                                    <a md-ink-ripple="" data-toggle="dropdown" class="md-btn md-flat md-btn-circle" aria-expanded="false">
                                        <i class="mdi-navigation-more-vert text-md"></i>
                                        <div class="md-ripple-container"></div></a>
                                    <ul class="dropdown-menu dropdown-menu-scale pull-right pull-up top text-color">
                                        <li><a ng-click="deleteProduct(product.id)">Delete</a></li>
                                     </ul>
                                </li>
                            </ul>

                            <small>
                                {{product.Desc}}
                             </small>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>

</div>





<a ng-if="stores!=null" md-ink-ripple class="md-btn md-fab md-fab-bottom-right pos-fix green" data-toggle="modal" data-target="#createModal"><i
        class="mdi-editor-mode-edit i-24"></i></a>


<div class="modal  fade bs-example-modal-lg" id="createModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" >
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="card-body bg-light lt">
                    <div class="row">
                        <md-tabs  md-selected="selectedIndex" md-dynamic-height md-border-bottom>
                            <md-tab label="one">
                                <md-content class="md-padding">
                                    <form class="form-horizontal ng-pristine ng-valid" role="form" style="width: 800px">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <label>Select Store</label>

                                                <select class="form-control"name="repeatSelect" ng-change="change(store.id)" id="Storeid" ng-model="selectstore">
                                                    <option ng-repeat="store in stores" value="{{store.id}}">{{store.StoreName}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="md-form-group">
                                                    <input ng-model="model.Name" class="md-input"
                                                           ng-model="user.postalCode">
                                                    <label>Product Name</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="md-form-group">
                                                    <input type="number" class="md-input" ng-model="model.Price">
                                                    <label>Product Price</label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-6">

                                                <div class="md-form-group">
                                                    <textarea ng-model="model.Desc" class="md-input" width
                                                              rows="4"></textarea>
                                                    <label>Description</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <button ng-click="submit()" md-ink-ripple=""
                                                        class="btn btn-fw btn-primary">Submit
                                                    <div class="md-ripple-container"></div>
                                                </button>

                                            </div>
                                        </div>
                                    </form>

                                </md-content>
                            </md-tab>
                            <md-tab ng-disabled="tabCtrl" label="Product Picture">
                                <div class="row">

                                    <div class="col-sm-6">
                                              <input type="file" class="" img-cropper-fileread image="cropper.sourceImage" />
                                         <div style="padding-top: 25px">
                                            <canvas width="460" height="250" id="canvas" image-cropper image="cropper.sourceImage" cropped-image="cropper.croppedImage" crop-width="480" crop-height="270" keep-aspect="true" touch-radius="30" crop-area-bounds="bounds"></canvas>
                                        </div>
                                        <div>Cropped Image (Left: {{bounds.left}} Right: {{bounds.right}} Top: {{bounds.top}} Bottom: {{bounds.bottom}})</div>

                                    </div>
                                    <div class="col-sm-7" style="padding-top: 40px">
                                        <div ng-show="cropper.croppedImage!=null">
                                            <img width="400" height="190" ng-src="{{cropper.croppedImage}}" /></div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-sm-5">
                                        <button ng-click="upload()" md-ink-ripple=""
                                                class="btn btn-fw btn-primary">Submit
                                         </button>
                                    </div>
                                </div>
                            </md-tab>
                        </md-tabs>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
