<div class="row row-sm">
  <div class="col-sm-4">
    <div class="panel panel-card">
      <div class="r-t pos-rlt" data-toggle="modal" data-target="#myModal" md-ink-ripple ng-if="User!=null" style="background:url(profile/{{User.profilepic}}) center center; background-size:cover">
        <div class="p-lg bg-white-overlay text-center r-t">
          <a href class="w-xs inline">
            <img ng-src="profile/{{User.profilepic}}" class="img-circle img-responsive">
          </a>
          <div class="m-b m-t-sm h2">
            <span class="">{{User.Name}}</span>
          </div>
          <a class="btn btn-sm btn-success m-b p-h no-border" ng-click="clicker()">Edit</a>
          <p>
           </p>
        </div>
      </div>
      <div class="list-group no-radius no-border">
        <a class="list-group-item">
          <span class="pull-right badge">12</span> TotalPayments
        </a>
        <a class="list-group-item">
          <span class="pull-right badge">23</span> Balance
        </a>
        <a class="list-group-item">
          <span class="pull-right badge">564</span> Tokens
        </a>
      </div>
      <div class="text-center b-b b-light">
        <a href class="inline m text-color">
          <span class="h3 block font-bold">221</span>
          <em class="text-xs">Followers</em>
        </a>
        <a href class="inline m text-color">
          <span class="h3 block font-bold">250</span>
          <em class="text-xs">Following</em>
        </a>
      </div>
      <div class="p">
        <p>About</p>

        <p>Lorem ipsum dolor sit amet, consecteter adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet. </p>
        <div class="m-v">
          <a class="text-muted">
            <i class="fa ui-icon fa-facebook"></i>
          </a>
          <a class="text-muted">
            <i class="fa ui-icon fa-twitter"></i>
          </a>
          <a class="text-muted">
            <i class="fa ui-icon fa-linkedin"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-8">
    <div class="panel panel-card">
         <div class="panel-heading">
          Account Info
        </div>
        <div class="panel-body">
          <form editable-form name="editableForm" onaftersave="saveUser()">

            <div class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-3 control-label">Name:</label>
                    <div class="col-sm-9">
                        <p class="form-control-static">
                    <span editable-text="EditUser.Name"  >
                        {{ EditUser.Name }}
                    </span>
                        </p>
                    </div>
                </div>

              <div class="form-group">
                <label class="col-sm-3 control-label">Email:</label>
                <div class="col-sm-9">
                  <p class="form-control-static">
                    <span editable-email="EditUser.Email"  >
                        {{ EditUser.Email }}
                    </span>
                  </p>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-3 control-label">Country:</label>
                <div class="col-sm-9">
                  <p class="form-control-static">
                    <span editable-text="EditUser.Country"  >
                             {{ EditUser.Country }}

                    </span>
                  </p>
                </div>
              </div>
                <div class="form-group">
                <label class="col-sm-3 control-label">address:</label>
                <div class="col-sm-9">
                  <p class="form-control-static">
                    <span editable-textarea="EditUser.address"  >
                             {{ EditUser.address }}

                    </span>
                  </p>
                </div>
              </div>
                <div class="form-group">
                <label class="col-sm-3 control-label">State:</label>
                <div class="col-sm-9">
                  <p class="form-control-static">
                    <span editable-text="EditUser.State"  >
                             {{ EditUser.State }}

                    </span>
                  </p>
                </div>
              </div>
                <div class="form-group">
                <label class="col-sm-3 control-label">zip:</label>
                <div class="col-sm-9">
                  <p class="form-control-static">
                    <span editable-text="EditUser.zip"  >
                             {{ EditUser.zip }}

                    </span>
                  </p>
                </div>
              </div>

              <div class="form-group">
                <div class="col-sm-9 col-sm-offset-3">
                  <button type="button" class="btn btn-default" ng-click="editableForm.$show()" ng-show="!editableForm.$visible">
                    Edit
                  </button>
                  <!-- buttons to submit / cancel form -->
                  <span ng-show="editableForm.$visible">
                    <button type="submit" class="btn btn-primary" ng-disabled="editableForm.$waiting">
                      Save
                    </button>
                    <button type="button" class="btn btn-default" ng-disabled="editableForm.$waiting" ng-click="editableForm.$cancel()">
                      Cancel
                    </button>
                  </span>
                </div>
              </div>
            </div>
          </form>
        </div>
    </div>
    </div>
</div>


<!-- Modal -->
<div class="modal  fade bs-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Change Profile Pic</h4>
      </div>
      <div class="modal-body">

        <div class="m-b">
          Select an image file
          <input type="file" id="fileInput" />
        </div>
        <div class="row">
          <div class="col-sm-8">
            <div class="m-r-xs m-b-xs">
              <div class="card" style="height:256px">
                <img-crop
                        image="SelectedImag"
                        result-image="CroppedImage"
                        result-image-size="200"
                        result-image-quality="1"
                        area-type="{{cropType}}"
                        ></img-crop>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="inline">
              <div class="card">
                <img ng-src="{{CroppedImage}}" />
              </div>
            </div>
          </div>
        </div>
        <div class="block m-t">
          <div class="btn-group m-t">
            <label class="btn btn-default" ng-model="cropType" btn-radio="'circle'">Circle</label>
            <label class="btn btn-default" ng-model="cropType" btn-radio="'square'">Square</label>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" ng-click="updateProfilePic()"  data-dismiss="modal">Save changes</button>
      </div>
    </div>
  </div>
</div>





<!-- Modal -->

