<div class="center-block w-auto p-lg p-v-lg">
    <div class="navbar">
        <div class="navbar-brand m-t-lg text-center">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve" style="
                width: 24px; height: 24px;">
          <path d="M 50 0 L 100 14 L 92 80 Z" fill="rgba(139, 195, 74, 0.5)"></path>
          <path d="M 92 80 L 50 0 L 50 100 Z" fill="rgba(139, 195, 74, 0.8)"></path>
          <path d="M 8 80 L 50 0 L 50 100 Z" fill="#fff"></path>
          <path d="M 50 0 L 8 80 L 0 14 Z" fill="rgba(255, 255, 255, 0.6)"></path>
        </svg>
            <span class="m-l inline">{{app.name}}</span>
        </div>
    </div>
    <div class="row">
        <div class="panel panel-card col-lg-6 col-lg-offset-3">
            <div class="cpl-md-6 p-lg text-color m">
                <div class="well b bg-light lt wrapper-sm m-t">
                    <div class="row no-gutter">
                        <label class="col-xs-8 col-sm-6 control-label text-muted">I Need a Merchant Account</label>
                        <div class="col-xs-5 col-sm-6">
                            <label class="ui-switch ui-switch-lg bg-dark ">
                                <input  ng-click="merchant()" type="checkbox">
                                <i></i>
                            </label>
                        </div>

                    </div>

                </div>

                <div class="m-b text-sm">
                    Sign up to your {{app.name}} Account
                </div>
                <form name="form">

                    <div class="md-form-group">
                        <input type="text" class="md-input" ng-model="user.Name" required>
                        <label>Name</label>
                    </div>
                    <div class="md-form-group">
                        <input type="email" class="md-input" ng-model-options="{ updateOn: 'blur' }"
                               ng-model="user.Email" required>
                        <label>Email</label>

                        <div ng-show="EMailexist" style="color: red">The Email Is already Exist..</div>
                    </div>
                    <div class="md-form-group">
                        <input type="password" min="6" class="md-input" name="password" ng-model="user.password"
                               required>
                        <label>Password</label>
                        <span ng-show="form.password.$error.min ">Password is too short..</span>

                    </div>
                    <div class="md-form-group">
                        <input type="text" class="md-input" ng-model="user.Country" required>
                        <label>Country</label>
                    </div>
                    <div class="md-form-group">
                        <input type="text" class="md-input" ng-model="user.State" required>
                        <label>State</label>
                    </div>
                    <div class="md-form-group">
                        <input type="text" class="md-input" ng-model="user.address" required>
                        <label>Address</label>
                    </div>
                    <div class="md-form-group">
                        <input type="number" class="md-input" ng-model="user.zip" required>
                        <label>zip</label>
                    </div>
                    <div class="m-b-md">
                        <label class="md-check">
                            <input type="checkbox" ng-model="agree" required=""
                                   class="ng-pristine ng-untouched ng-invalid ng-invalid-required" tabindex="0"
                                   aria-checked="false" aria-required="true" aria-invalid="true"><i class="indigo"></i>
                            Agree the <a href="">terms and policy</a>
                        </label>
                    </div>

                    <button md-ink-ripple="" type="submit" ng-click="signUP()"
                            class="md-btn md-raised pink btn-block p-h-md">Sign up
                        <div class="md-ripple-container"></div>
                    </button>
                </form>
                <div ng-if="accountsuccess" class="alert alert-success" role="alert"><strong>Well done!</strong>Account
                    created..please log in
                </div>
                <div ng-if="accError" class="alert alert-danger" role="alert"><strong>Error!</strong>Please check the
                    fields
                </div>

            </div>

        </div>
    </div>
</div>


<div class="p-v-lg text-center">
    <div>Already have an account?
        <button ui-sref="access.signin" class="md-btn">Sign in</button>
    </div>
</div>

