<div class="row">

    <div class="col-sm-4 fade-in-up" ng-repeat="store in Stores">
        <div class="panel panel-card  ">
            <div class="item">
                <div style="width: 393px;height: 185px;" class="w-full r-t"
                     ng-class="$state.current.data.theme ? $state.current.data.theme.primary : app.setting.theme.primary">

                    <?xml version="1.0" encoding="utf-8"?>
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"  x="0px" y="0px"
	 viewBox="0 0 480 270" style="enable-background:new 0 0 480 270;" xml:space="preserve">
<style type="text/css">
	.st0 {
        fill: #FFFFFF;
    }
</style>
<g id="XMLID_11_">
	<g id="Layer_1_107_">
		<g id="XMLID_12_">
			<path id="XMLID_15_" class="st0" d="M317.6,83.8c-1.7-1.9-4.1-3-6.7-3H189l-1.7-10.3c-0.7-4.3-4.4-7.4-8.7-7.4h-19.9
				c-4.9,0-8.8,3.9-8.8,8.8c0,4.9,3.9,8.8,8.8,8.8h12.4l16.4,98.5c0.1,0.4,0.3,0.7,0.4,1.1c0.1,0.5,0.3,0.9,0.5,1.3
				c0.3,0.6,0.7,1.1,1.1,1.6c0.3,0.3,0.5,0.7,0.8,1c0.5,0.5,1.1,0.8,1.7,1.1c0.3,0.2,0.6,0.4,1,0.6c1,0.4,2.1,0.7,3.2,0.7
				c0,0,97.1,0,97.1,0c4.9,0,8.8-3.9,8.8-8.8c0-4.9-3.9-8.8-8.8-8.8h-89.6l-1.5-8.8h99.9c4.4,0,8.1-3.2,8.7-7.6l8.8-61.8
				C320,88.3,319.3,85.7,317.6,83.8z M300.8,98.4l-2.5,17.7h-31.4V98.4H300.8z M258,98.4v17.7h-26.5V98.4H258z M258,124.9v17.7
				h-26.5v-17.7H258z M222.7,98.4v17.7h-26.5c-0.5,0-0.9,0.1-1.3,0.3l-3-17.9H222.7z M196.3,124.9h26.4v17.7h-23.4L196.3,124.9z
				 M266.8,142.6v-17.7H297l-2.5,17.7H266.8z"></path>
			<circle id="XMLID_2_" class="st0" cx="209.4" cy="208.8" r="13.2"/>
			<circle id="XMLID_1_" class="st0" cx="288.9" cy="208.8" r="13.2"/>
		</g>
	</g>
</g>
<g id="XMLID_10_">
</g>
<g id="XMLID_13_">
</g>
<g id="XMLID_14_">
</g>
<g id="XMLID_16_">
</g>
<g id="XMLID_17_">
</g>
<g id="XMLID_18_">
</g>
</svg>


                </div>
                <div class="bottom text-white p">
                    <h3>{{store.StoreTypes}}</h3>

                </div>
            </div>
            <a dropdown-toggle md-ink-ripple="" class="md-btn md-raised md-fab m-r md-fab-offset pull-right"
               ng-init="isCollapsed = true" ng-click="isCollapsed = !isCollapsed"
               ng-class="$state.current.data.theme ? $state.current.data.theme.accent : app.setting.theme.accent">
                <span class="text-white"><i class="fa fa-pencil"></i></span></a>

            <div class="p">
                <h3>{{store.StoreName}}</h3>

                <p>
                    {{store.Address}}
                </p>
            </div>
            <div class="panel">
                <div collapse="isCollapsed" class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="col-lg-12">
                                <div class="btn-group m-b" style=" width: 100%;">
                                    <button   popover-placement="top"  Popover-animation="true"
                                              popover="Open Desk Service for this Store"  popover-trigger="mouseenter"
                                             type="button" class="btn btn-fw btn-success" style=" width: 100%;"><i
                                            class="fa  fa-dashboard"></i></button>
                                </div>
                            </div>


                            <div class="btn-group m-b" style=" width: 100%;">
                                <button ng-click="QRdialogue($event,store.id)"
                                        popover-placement="left" Popover-animation="true"
                                         popover="Generate QR code for this Store"  popover-trigger="mouseenter"
                                        type="button" class="btn btn-stroke btn-success" style=" width: 50%;"><i
                                        class="fa fa-qrcode"></i></button>

                                <button   popover-placement="right"   ng-click="NfcDialogue($event,store.id)"  Popover-animation="true"
                                          popover="Write Store code into NFC "  popover-trigger="mouseenter"
                                        type="button" class="btn btn-stroke btn-info" style=" width: 50%;"><i
                                        class="fa fa-bullseye"></i></button>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="btn-group m-b" style=" width: 100%;">
                                <button Popover-animation="true"  popover-placement="left"
                                        popover="Delete this Store"  ng-click="deletStore($event,store.id)" popover-trigger="mouseenter"
                                        type="button" class="btn btn-stroke btn-danger" style=" width: 50%;"><i
                                        class="fa  fa-trash-o"></i></button>


                                <button   popover-placement="right"   Popover-animation="true"
                                        popover="Edit Store Info"  popover-trigger="mouseenter"
                                        type="button" class="btn btn-stroke btn-info" style=" width: 50%;"><i
                                        class="fa  fa-wrench"></i></button>
                            </div>
                        </div>
                        <div class="col-lg-12">

                            <div class="btn-group m-b" style=" width: 100%;">
                                <button   popover-placement="right"   Popover-animation="true"
                                        popover="Upload Store Image"  ng-click="AssignValue(store.id)"  popover-trigger="mouseenter"
                                        data-toggle="modal" data-target="#myModal"
                                        type="button" class="btn btn-stroke btn-dark" style=" width: 100%;"><i
                                        class="fa  fa-image"></i></button>
                            </div>
                        </div>


                    </div>

                </div>
            </div>
        </div>
    </div>

</div>
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="" id="createModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="gridSystemModalLabel">Create Store</h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger" ng-hide="error" role="alert">Required Fields Are Missing</div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="sname">Store Name</label>
                            <input type="text" id="sname" ng-model="StoreModel.StoreName" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="storeselect">Store Type</label>
                            <select name="Storetype" id="storeselect" class="form-control"
                                    ng-model="StoreModel.StoreTypes">
                                <option ng-repeat="option in StoreType" value="{{option}}">{{option}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="Storedesc">Store Description</label>
                            <textarea id="Storedesc" class="form-control" ng-model="StoreModel.Desc"> </textarea>

                        </div>

                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="Address">Address</label>
                            <textarea id="Address" class="form-control" ng-model="StoreModel.Address"> </textarea>
                        </div>
                        <div class="form-group">
                            <label for="otime">Open Time (optional)</label>
                            <timepicker ng-model="StoreModel.OpenTime" id="otime" hour-step="hstep" minute-step="mstep"
                                        show-meridian="ismeridian"></timepicker>
                        </div>
                        <div class="form-group">
                            <label for="ctime">Close time (optional)</label>
                            <timepicker ng-model="StoreModel.CloseTime" id="ctime" hour-step="hstep" minute-step="mstep"
                                        show-meridian="ismeridian"></timepicker>
                        </div>

                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="CreateStore()">Save
                    changes
                </button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div><!-- /.modal -->
<a md-ink-ripple class="md-btn md-fab md-fab-bottom-right pos-fix green" data-toggle="modal" data-target="#createModal"><i
        class="mdi-editor-mode-edit i-24"></i></a>

<!-- Modal -->
<div class="modal  fade bs-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Change Store Pic</h4>
            </div>
            <div class="modal-body">

                <div class="m-b">
                    Select an image file
                    <input type="file" id="fileInput" />
                </div>
                <div class="row">
                    <div class="col-sm-8">
                        <div class="m-r-xs m-b-xs">
                            <div class="card" style="height:256px">
                                <img-crop
                                        image="SelectedImag"
                                        result-image="CroppedImage"
                                        result-image-size="250"
                                        area-type="{{cropType}}"
                                        ></img-crop>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="inline">
                            <div class="card">
                                <img ng-src="{{CroppedImage}}" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="block m-t">
                    <div class="btn-group m-t">
                        <label class="btn btn-default" ng-model="cropType" btn-radio="'circle'">Circle</label>
                        <label class="btn btn-default" ng-model="cropType" btn-radio="'square'">Square</label>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="UpdateStorePic()"  data-dismiss="modal">Save changes</button>
            </div>
        </div>
    </div>
</div>

