<style rel="stylesheet" type="text/css">


</style>
<div class="row" ng-controller="tokenctrl">
    <div class="col-md-2">
        <div class="m-b">
            <button  class="btn btn-sm btn-default pull-right visible-sm visible-xs"><i  class="fa fa-bars"></i></button>
         </div>
        <div class="hidden-sm hidden-xs" id="inbox-menu">
            <div class="p-v">Filters</div>
            <ul class="nav nav-pills nav-stacked nav-sm">
                 <li >
                    <md-radio-group ng-model="filters.ispaid">
                        <md-radio-button>
                            Both
                       </md-radio-button>
                        <md-radio-button  ng-value="true">
                            Paid
                       </md-radio-button>
                        <md-radio-button ng-value="false">
                            UnPaid
                       </md-radio-button>
                    </md-radio-group>
                </li>
            </ul>
             <div class="p-v">Token Scheme</div>
            <ul class="nav nav-pills nav-stacked nav-sm">
                 <li >
                    <md-radio-group ng-model="filters.Tokentype">
                        <md-radio-button>
                            All
                        </md-radio-button>
                        <md-radio-button  ng-value="'Static'">
                            Static
                        </md-radio-button>
                        <md-radio-button  ng-value="'Dynamic'">
                            Dynamic
                        </md-radio-button>
                        <md-radio-button ng-value="'Donation'">
                            Donation
                        </md-radio-button >
                    </md-radio-group>
                </li>
            </ul>
           </div>
    </div>
     <div class="col-md-10">
            <div class="m-b">
                <div class="btn-group pull-right">
                    <button type="button" class="btn btn-sm btn-bg btn-default"><i class="fa fa-chevron-left"></i></button>
                    <button type="button" class="btn btn-sm btn-bg btn-default"><i class="fa fa-chevron-right"></i></button>
                </div>
                <div class="btn-toolbar">
                    <div class="btn-group dropdown">
                        <button class="btn btn-default btn-sm btn-bg dropdown-toggle" data-toggle="dropdown">
                            <span class="dropdown-label">{{filters.type}}</span>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu text-left text-sm">
                            <li><a ng-click="filters.type='NFC'">NFC</a></li>
                            <li><a ng-click="filters.type='QR'">QR</a></li>
                            <li><a ng-click="filters.type='BOTH'">BOTH</a></li>
                         </ul>
                    </div>
                    <div class="btn-group">
                        <button ng-click="gettokens()" class="btn btn-sm btn-bg btn-default" data-toggle="tooltip" data-placement="bottom" data-title="Refresh" data-original-title="" title=""><i class="fa fa-refresh"></i></button>
                    </div>
                </div>
            </div>
            <!-- / header -->

            <!-- list -->
            <div class="m-b-lg">
                 <ul class="list-group md-whiteframe-z0 fade-in-up  fade-in-right" ng-repeat="token in tokendata | filter:filters">
                    <div class="md-list-item " >
                        <div class="md-list-item-left circle pink">
                            <span class="font-thin text-lg">{{token.type.charAt(0)}}</span>

                        </div>
                        <div class="md-list-item-content">
                            <h3 class="text-lg text-lt font-thin" ><i class="fa fa-inr fade-in-up"></i>{{token.amount}}</h3>
                            <span class="font-thin">{{token.createdAt | date:'medium'}}</span>
                            <div class="pull-right">

                                <span class="label blue">Type : {{token.type}}</span>
                                <span ng-if="token.ispaid==true" class="label green">PAID</span>
                                 <span ng-if="token.ispaid==false" class="label red">UN-PAID</span>
                            </div>

                         </div>
                        <div class="dropdown " >
                            <a md-ink-ripple data-toggle="dropdown">
                                <i class="mdi-navigation-more-vert i-24 "></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-scale  pull-up text-color">
                                <li><a >QR code</a></li>
                                <li><a href>Write This token to NFC</a></li>
                                <li><a ng-click="Delete(token.id)">Delete</a></li>
                                <li class="divider"></li>
                                <li ng-if="token.Tokentype=='Dynamic'"><a href>Set new Payment</a></li>
                            </ul>
                        </div>
                    </div>

                </ul>
                <div ng-hide="tokendata.length">
                    <div class="p-lg text-center animated fadeInUp">
			<span class="text-3x">
				<i class="mdi-action-note-add text-2x text-white"></i>
			</span>
                        <h3 class="font-thin">
                          Empty..
                        </h3>
                    </div>
                </div>
            </div>

    </div>
</div>
