<div class="box bg-white" ng-controller="asideCtrl">
    <div class="navbar md-whiteframe-z1 no-radius" ng-class="$state.current.data.theme ? $state.current.data.theme.primary : app.setting.theme.primary">
        <!-- brand -->
        <a class="navbar-brand">
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 width="32px" height="32px" viewBox="-249 151 100 100" style="enable-background:new -249 151 100 100;" xml:space="preserve">
 <style type="text/css">
	.st0{fill:#CFCECE;}
    .st1{fill:#E5E5E5;}
    .st2{opacity:0.63;fill:#E5E5E5;}
</style>
<g id="XMLID_1_">
	<g id="XMLID_2_">
		<g id="XMLID_4_">
			<polygon id="XMLID_5_" class="st0" points="-149,204.2 -193.1,222.4 -229,195.7 -249.1,195.1 -223.5,185.9 -179.4,204.1 			"></polygon>
			<polygon id="XMLID_7_" class="st1" points="-149,204.2 -193.1,222.5 -179.4,204.2 -156.6,204.2 			"></polygon>
		</g>
	</g>
	<polygon id="XMLID_9_" class="st2" points="-229,195.7 -249,195.1 -229.6,188.1 -229.6,188.1 	"></polygon>
</g>
</svg>
</svg>
            <img src="images/logo.png" alt="." style="max-height: 36px; display:none">
            <span class="hidden-folded m-l inline">{{app.name}}</span>
        </a>
        <!-- / brand -->
    </div>

    <audio id="notification" preload="auto">
        <source src="/sounds/here_you_go_lighter.mp3"  type="audio/mpeg" >
     </audio>

    <audio id="notification_newclient" preload="auto">
        <source src="/sounds/complete_quest_requirement.mp3"  type="audio/mpeg" >
     </audio>

    <audio id="notification_fitterbug" preload="auto">
        <source src="/sounds/confirm_delivery.mp3"  type="audio/mpeg" >
     </audio>

    <div class="box-row">
        <div class="box-cell scrollable hover">
            <div class="box-inner">
                <div class="p hidden-folded" ng-class="$state.current.data.theme ? $state.current.data.theme.primary+'-50' : app.setting.theme.primary+'-50'" style="background-image:url(images/bg.png); background-size:cover">
                    <div class="rounded w-64 bg-white inline pos-rlt" >
                        <img ng-src="/profile/{{LogUser.profilepic}}" class="img-responsive rounded">
                    </div>
                    <a  class="block m-t-sm" ui-toggle-class="hide, show" target="#nav, #account">
                        <span class="block font-bold">{{LogUser.Name }}
                            <i class="fa fa-circle fade-in-up text-{{OnlineStats}} text-xs m-r-xs"></i>
                            </span>
            <span class="pull-right auto">
              <i class="fa inline fa-caret-down"></i>
              <i class="fa none fa-caret-up"></i>
            </span>
                        {{LogUser.Email}}
                    </a>

                </div>
                <div ng-if="MerchantUser==true" id="nav" ng-include="'views/partials/aside.nav.merchant.html'"></div>
                 <div id="account" class="hide m-v-xs">
                    <nav>
                        <ul class="nav">
                            <li>
                                <a md-ink-ripple ui-sref="user.profile">
                                    <i class="icon mdi-action-perm-contact-cal i-20"></i>
                                    <span>My Profile</span>
                                </a>
                            </li>
                            <li>
                                <a md-ink-ripple ui-sref="page.settings">
                                    <i class="icon mdi-action-settings i-20"></i>
                                    <span>Settings</span>
                                </a>
                            </li>
                            <li>
                                <a md-ink-ripple ng-click="logOut()">
                                    <i class="icon mdi-action-exit-to-app i-20"></i>
                                    <span>Logout</span>
                                </a>
                            </li>
                            <li class="m-v-sm b-b b"></li>
                            <li>
                                <a md-ink-ripple ui-fullscreen>
                                    <i class="icon mdi-navigation-fullscreen i-24"></i>
                                    <span>Fullscreen</span>
                                </a>
                            </li>
                            <li>
                                <div class="nav-item">
                                    <label class="md-check">
                                        <input type="checkbox" ng-model="app.setting.asideFolded">
                                        <i class="{{app.setting.theme.accent}} no-icon"></i>
                                        <span class="hidden-folded">Folded aside</span>
                                    </label>
                                </div>
                            </li>
                            <li class="p p-v-sm hidden-folded">
                                <div class="m-b-sm">Theming:</div>
                                <div>
                                    <div class="pointer box pull-left m-r-sm m-b-sm" style="width:32px;height:16px" ng-click="app.setting.theme = {primary: 'indigo', accent: 'green', warn: 'amber'}">
                                        <span class="indigo col-xs-4 box-col"></span>
                                        <span class="green col-xs-4 box-col"></span>
                                        <span class="amber col-xs-4 box-col"></span>
                                    </div>
                                    <div class="pointer box pull-left m-r-sm m-b-sm" style="width:32px;height:16px" ng-click="app.setting.theme = {primary: 'green', accent: 'light-green', warn: 'lime'}">
                                        <span class="green col-xs-4 box-col"></span>
                                        <span class="light-green col-xs-4 box-col"></span>
                                        <span class="lime col-xs-4 box-col"></span>
                                    </div>
                                    <div class="pointer box pull-left m-r-sm m-b-sm" style="width:32px;height:16px" ng-click="app.setting.theme = {primary: 'deep-purple', accent: 'blue', warn: 'light-blue'}">
                                        <span class="deep-purple col-xs-4 box-col"></span>
                                        <span class="blue col-xs-4 box-col"></span>
                                        <span class="light-blue col-xs-4 box-col"></span>
                                    </div>
                                    <div class="pointer box pull-left m-r-sm m-b-sm" style="width:32px;height:16px" ng-click="app.setting.theme = {primary: 'blue', accent: 'indigo', warn: 'amber'}">
                                        <span class="blue col-xs-4 box-col"></span>
                                        <span class="indigo col-xs-4 box-col"></span>
                                        <span class="amber col-xs-4 box-col"></span>
                                    </div>
                                    <div class="pointer box pull-left m-r-sm m-b-sm" style="width:32px;height:16px" ng-click="app.setting.theme = {primary: 'cyan', accent: 'teal', warn: 'green'}">
                                        <span class="cyan col-xs-4 box-col"></span>
                                        <span class="teal col-xs-4 box-col"></span>
                                        <span class="green col-xs-4 box-col"></span>
                                    </div>
                                    <div class="pointer box pull-left m-r-sm m-b-sm" style="width:32px;height:16px" ng-click="app.setting.theme = {primary: 'pink', accent: 'deep-purple', warn: 'purple'}">
                                        <span class="pink col-xs-4 box-col"></span>
                                        <span class="deep-purple col-xs-4 box-col"></span>
                                        <span class="purple col-xs-4 box-col"></span>
                                    </div>
                                    <div class="pointer box pull-left m-r-sm m-b-sm" style="width:32px;height:16px" ng-click="app.setting.theme = {primary: 'blue-grey', accent: 'teal-200', warn: 'lime'}">
                                        <span class="blue-grey col-xs-4 box-col"></span>
                                        <span class="teal-200 col-xs-4 box-col"></span>
                                        <span class="lime col-xs-4 box-col"></span>
                                    </div>
                                    <div class="pointer box pull-left m-r-sm m-b-sm" style="width:32px;height:16px" ng-click="app.setting.theme = {primary: 'bg-dark', accent: 'green-300', warn: 'amber-300'}">
                                        <span class="bg-dark col-xs-4 box-col"></span>
                                        <span class="green-300 col-xs-4 box-col"></span>
                                        <span class="amber-300 col-xs-4 box-col"></span>
                                    </div>
                                    <div class="pointer box pull-left m-r-sm m-b-sm" style="width:32px;height:16px" ng-click="app.setting.theme = {primary: 'bg-white', accent: 'green', warn: 'teal'}">
                                        <span class="bg-white col-xs-4 box-col"></span>
                                        <span class="green col-xs-4 box-col"></span>
                                        <span class="teal col-xs-4 box-col"></span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <nav>
        <ul class="nav b-t b">
            <li>
                <a href=" " target="_blank" md-ink-ripple>
                    <i class="fa fa-mobile fa-3"></i>
                    <i class="fa fa-circle fade-in-up text-{{OnlineStatsMob}} text-xs m-r-xs"></i>
                    <span>Mobile App</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
