<nav ui-nav>
  <ul class="nav">
    <li class="nav-header m-v-sm hidden-folded">
      Navigation
    </li>
    
    <li ui-sref-active="active">
      <a md-ink-ripple>
        <span class="pull-right text-muted">
          <i class="fa fa-caret-down"></i>
        </span>
        <i class="pull-right up"> </i>
        <i class="icon glyphicon glyphicon-dashboard i-20"></i>
        <span class="font-normal">Dashboard</span>
      </a>
      <ul class="nav nav-sub">
        <li ui-sref-active="active">
          <a md-ink-ripple ui-sref="app.dashboard">Dashboard</a>
        </li>
      </ul>
    </li>
    <li >
      <a md-ink-ripple>
        <span class="pull-right text-muted">
          <i class="fa fa-caret-down"></i>
        </span>
        <i class="icon mdi-action-subject i-20"></i>
        <span class="font-normal">PayTokens</span>
      </a>
      <ul class="nav nav-sub">
        <li ui-sref-active="active">
          <a md-ink-ripple ui-sref="paytokens.generate">Generate</a>
        </li>
        <li ui-sref-active="active">
          <a md-ink-ripple >Analysis</a>
        </li>
        <li ui-sref-active="active">
          <a md-ink-ripple ui-sref="paytokens.tokens">Manage Tokens</a>
        </li>
      </ul>
    </li>
      <li ui-sref-active="active">
          <a md-ink-ripple>
        <span class="pull-right text-muted">
          <i class="fa fa-caret-down"></i>
        </span>
              <i class="icon mdi-action-shopping-cart i-20"></i>
              <span class="font-normal">Stores</span>
          </a>
          <ul class="nav nav-sub">
              <li ui-sref-active="active">
                  <a md-ink-ripple ui-sref="store.manage">Manage</a>
              </li>
              <li ui-sref-active="active">
                  <a md-ink-ripple >Add products</a>
              </li><li ui-sref-active="active">
              <a md-ink-ripple ui-sref="store.products" >Products</a>
          </li>
          </ul>
      </li>
      <li ui-sref-active="active">
          <a md-ink-ripple ui-sref="ui.chart">
              <i class="icon mdi-maps-local-restaurant i-20"></i>
              <span class="font-normal">Tap N Order</span>
           <span class="pull-right text-muted">
          <i class="fa fa-caret-down"></i>
        </span>
          </a>
          <ul class="nav nav-sub">
              <li ui-sref-active="active">
                  <a md-ink-ripple ui-sref="desk.service">Launch</a>
              </li>
              <li ui-sref-active="active">
                  <a md-ink-ripple ui-sref="desk.config">Configure</a>
              </li>
              <li ui-sref-active="active">
                  <a md-ink-ripple  >Payments</a>
              </li>
          </ul>
      </li>

      <li ui-sref-active="active">
      <a md-ink-ripple>
         <i class="icon mdi-device-multitrack-audio i-20"></i>
        <span class="font-normal">Services</span>
           <span class="pull-right text-muted">
          <i class="fa fa-caret-down"></i>
        </span>
      </a>
        <ul class="nav nav-sub">
            <li ui-sref-active="active">
                <a md-ink-ripple ui-sref="service.api" >API</a>
            </li>
            <li ui-sref-active="active">
                <a md-ink-ripple  >Analysis</a>
            </li>
            <li ui-sref-active="active">
                <a md-ink-ripple  >Payment history</a>
            </li>
        </ul>
    </li>

    <li class="b-b b m-v-sm"></li>
    <li>
      <a md-ink-ripple ui-toggle-class="hide, show" target="#nav, #account">
        <span>Settings</span>
      </a>
    </li>

  </ul>
</nav>
